
<p class="ph3 f5 grey pt3 pb3 ma0">
  <span>Company Timezone: <%= company_info.timezone %></span><br>
</p>


<div class='ph3 w-60'>
  <div class="pt3 flex justify-between">
    <label class="f6 fw6 db mb1 gray ttc">First day of week</label>
    <input type="hidden" name="type" value="<%= params[:type] %>" />
    <div class="flex w-60 justify-between">
      <%= select_tag "company_info[first_day_of_week]", options_for_select(["Saturday", "Sunday", "Monday"], @company_info.first_day_of_week), :onchange => "this.form.submit();", style: 'width: 30%' %>
    </div>
  </div>
  <% if @company_info.first_day_of_week == 'Saturday'%>
  <div class="flex justify-between mt3">
    <label class="f6 fw6 db mb1 gray ttc w-40">Saturday</label>
    <div class="flex w-40 justify-between">
      <input class="db pa2 f6 black ba b--black-20 br2 outline-0 no-spinner tc" name="company_info[work_schedules][][saturday][start_time]" type="time" value="<%= params[:start_time] || @saturday[:start_time]%>">
      <div class="flex items-center">
        <label class="f4 db mb1 ttc">-</label>
      </div>
      <input class="db pa2 f6 black ba b--black-20 br2 outline-0 no-spinner tc" name="company_info[work_schedules][][saturday][end_time]" type="time" value="<%= params[:end_time] || @saturday[:end_time]%>">
    </div>
    <div class="w-20 pa2 pl3 justify-between"><a class="link orange pointer dim" onclick="getStartDay('saturday')">Apply to all days</a></div>
  </div>
  <% end %>
  <% if @company_info.first_day_of_week != 'Monday'%>
    <div class="pt3 flex justify-between">
      <label class="f6 fw6 db mb1 gray ttc w-40">Sunday</label>
      <input type="hidden" name="type" value="<%= params[:type] %>" />
      <div class="flex w-40 justify-between">
        <input class="db pa2 f6 black ba b--black-20 br2 outline-0 no-spinner tc" name="company_info[work_schedules][][sunday][start_time]" type="time" value="<%= params[:start_time] || @sunday[:start_time]%>">
        <div class="flex items-center">
          <label class="f4 db mb1 ttc">-</label>
        </div>
        <input class="db pa2 f6 black ba b--black-20 br2 outline-0 no-spinner tc" name="company_info[work_schedules][][sunday][end_time]" type="time" value="<%= params[:end_time] || @sunday[:end_time]%>">
      </div>
      <div class="w-20 pa2 pl3 justify-between"><%if @company_info.first_day_of_week == 'Sunday' %><a class="link orange pointer dim" onclick="getStartDay('sunday')">Apply to all days</a> <%end%></div>
    </div>
  <% end %>
  <div class="flex justify-between mt3">
    <label class="f6 fw6 db mb1 gray ttc w-40">Monday</label>
    <div class="flex w-40 justify-between">
      <input class="db pa2 f6 black ba b--black-20 br2 outline-0 no-spinner tc" name="company_info[work_schedules][][monday][start_time]" type="time" value="<%= params[:start_time] || @monday[:start_time]%>">
      <div class="flex items-center">
        <label class="f4 db mb1 ttc">-</label>
      </div>
      <input class="db pa2 f6 black ba b--black-20 br2 outline-0 no-spinner tc" name="company_info[work_schedules][][monday][end_time]" type="time" value="<%= params[:end_time] || @monday[:end_time]%>">
    </div>
    <div class="w-20 pa2 pl3 justify-between"><%if @company_info.first_day_of_week == 'Monday' %><a class="link orange pointer dim" onclick="getStartDay('monday')">Apply to all days</a><%end%></div>
  </div>
  <div class="flex justify-between mt3">
    <label class="f6 fw6 db mb1 gray ttc w-40">Tuesday</label>
    <div class="flex w-40 justify-between">
      <input class="db pa2 f6 black ba b--black-20 br2 outline-0 no-spinner tc" name="company_info[work_schedules][][tuesday][start_time]" type="time" value="<%= params[:start_time] || @tuesday[:start_time]%>">
      <div class="flex items-center">
        <label class="f4 db mb1 ttc">-</label>
      </div>
      <input class="db pa2 f6 black ba b--black-20 br2 outline-0 no-spinner tc" name="company_info[work_schedules][][tuesday][end_time]" type="time" value="<%= params[:end_time] || @tuesday[:end_time]%>">
    </div>
    <div class="w-20 pa2 pl3 justify-between"></div>
  </div>
  <div class="flex justify-between mt3">
    <label class="f6 fw6 db mb1 gray ttc w-40">Wednesday</label>
    <div class="flex w-40 justify-between">
      <input class="db pa2 f6 black ba b--black-20 br2 outline-0 no-spinner tc" name="company_info[work_schedules][][wednesday][start_time]" type="time" value="<%= params[:start_time] || @wednesday[:start_time]%>">
      <div class="flex items-center">
        <label class="f4 db mb1 ttc">-</label>
      </div>
      <input class="db pa2 f6 black ba b--black-20 br2 outline-0 no-spinner tc" name="company_info[work_schedules][][wednesday][end_time]" type="time" value="<%= params[:end_time] || @wednesday[:end_time]%>">
    </div>
    <div class="w-20 pa2 pl3 justify-between"></div>
  </div>
  <div class="flex justify-between mt3">
    <label class="f6 fw6 db mb1 gray ttc w-40">Thursday</label>
    <div class="flex w-40 justify-between">
      <input class="db pa2 f6 black ba b--black-20 br2 outline-0 no-spinner tc" name="company_info[work_schedules][][thursday][start_time]" type="time" value="<%= params[:start_time] || @thursday[:start_time]%>">
      <div class="flex items-center">
        <label class="f4 db mb1 ttc">-</label>
      </div>
      <input class="db pa2 f6 black ba b--black-20 br2 outline-0 no-spinner tc" name="company_info[work_schedules][][thursday][end_time]" type="time" value="<%= params[:end_time] || @thursday[:end_time]%>">
    </div>
    <div class="w-20 pa2 pl3 justify-between"></div>
  </div>
  <div class="flex justify-between mt3">
    <label class="f6 fw6 db mb1 gray ttc w-40">Friday</label>
    <div class="flex w-40 justify-between">
      <input class="db pa2 f6 black ba b--black-20 br2 outline-0 no-spinner tc" name="company_info[work_schedules][][friday][start_time]" type="time" value="<%= params[:start_time] || @friday[:start_time]%>">
      <div class="flex items-center">
        <label class="f4 db mb1 ttc">-</label>
      </div>
      <input class="db pa2 f6 black ba b--black-20 br2 outline-0 no-spinner tc" name="company_info[work_schedules][][friday][end_time]" type="time" value="<%= params[:end_time] || @friday[:end_time]%>">
    </div>
    <div class="w-20 pa2 pl3 justify-between"></div>
  </div>
  <% if @company_info.first_day_of_week != 'Saturday'%>
  <div class="flex justify-between mt3">
    <label class="f6 fw6 db mb1 gray ttc w-40">Saturday</label>
    <div class="flex w-40 justify-between">
      <input class="db pa2 f6 black ba b--black-20 br2 outline-0 no-spinner tc" name="company_info[work_schedules][][saturday][start_time]" type="time" value="<%= params[:start_time] || @saturday[:start_time]%>">
      <div class="flex items-center">
        <label class="f4 db mb1 ttc">-</label>
      </div>
      <input class="db pa2 f6 black ba b--black-20 br2 outline-0 no-spinner tc" name="company_info[work_schedules][][saturday][end_time]" type="time" value="<%= params[:end_time] || @saturday[:end_time]%>">
    </div>
    <div class="w-20 pa2 pl3 justify-between"></div>
  </div>
  <% end %>
  <% if @company_info.first_day_of_week == 'Monday'%>
    <div class="pt3 flex justify-between">
      <label class="f6 fw6 db mb1 gray ttc w-40">Sunday</label>
      <input type="hidden" name="type" value="<%= params[:type] %>" />
      <div class="flex w-40 justify-between">
        <input class="db pa2 f6 black ba b--black-20 br2 outline-0 no-spinner tc" name="company_info[work_schedules][][sunday][start_time]" type="time" value="<%= params[:start_time] || @sunday[:start_time]%>">
        <div class="flex items-center">
          <label class="f4 db mb1 ttc">-</label>
        </div>
        <input class="db pa2 f6 black ba b--black-20 br2 outline-0 no-spinner tc" name="company_info[work_schedules][][sunday][end_time]" type="time" value="<%= params[:end_time] || @sunday[:end_time]%>">
      </div>
      <div class="w-20 pa2 pl3 justify-between"></div>
    </div>
  <% end %>

</div>

<p class="ph3 f5 white pv0 ma0 tr">
  <span>User Timezone: <%= current_user.timezone %></span><br>
  <span>Request Timezone: <%= Time.zone %></span>
</p>

<script type="text/javascript">
  function applyToDays(time_start, time_end){
      ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'].map(x => {
        document.getElementsByName(`company_info[work_schedules][][${x}][start_time]`)[0].value = time_start
        document.getElementsByName(`company_info[work_schedules][][${x}][end_time]`)[0].value = time_end
      })
  }
  function getStartDay(start_day){
      var time_start = document.getElementsByName(`company_info[work_schedules][][${start_day}][start_time]`)
      var time_end = document.getElementsByName(`company_info[work_schedules][][${start_day}][end_time]`)
      if(time_start[0].value == ""){
          alert("Please insert time first")
      }else{
        time_start = document.getElementsByName(`company_info[work_schedules][][${start_day}][start_time]`)
        time_end = document.getElementsByName(`company_info[work_schedules][][${start_day}][end_time]`)
        applyToDays(time_start[0].value, time_end[0].value)
       
      }
  }
</script>
