<div class="bg-white">
  <table class="f6 w-100 center" cellspacing="0">
    <thead>
      <tr>
        <th class="f6 dark-grey bb b--black-20 pv3 tl pl4 pr3 w-10">#</th>
        <th class="f6 dark-grey bb b--black-20 pv3 tl">Name</th>
        <th class="f6 dark-grey bb b--black-20 pv3 tl w-10">ID</th>
        <th class="f6 dark-grey bb b--black-20 pv3 tl w-10">License</th>
        <th class="f6 dark-grey bb b--black-20 pv3 tr w-10">Rooms</th>
        <th class="f6 dark-grey bb b--black-20 w-20"></th>
      </tr>
    </thead>

    <tbody class="lh-copy">
      <% @facilities.each_with_index do |f, i| %>
        <tr data-toggle-right="<%= edit_settings_facility_facility_path(f.id)%>" class="pointer">
          <td class="f6 tl pv3 bb b--black-20 pl4 pr3 gray"><%= i+1 %></td>
          <td class="f6 tl pv3 bb b--black-20 "><%= blank(f.name) %></td>
          <td class="f6 tl pv3 bb b--black-20 "><%= blank(f.code) %></td>
          <td class="f6 tl pv3 bb b--black-20 "><%= blank(f.site_license) %></td>
          <td class="f6 tr pv3 bb b--black-20"><%= f.rooms&.size %></td>
          <td class="f6 tr pv3 pr4  bb b--light-grey">
            <% status = if !f.is_complete 
                        "Continue setup"
                      elsif f.is_enabled
                        "active"
                      else
                        "disabled"
                      end
            %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
