<div class="bg-white mv3 mh4">
  <table class="w-100 table collapse">
    <thead>
      <tr>
        <th class="f6 dark-grey pv3 tl pl4 pr3">#</th>
        <th class="f6 dark-grey pv3 tl w-20">Name</th>
        <th class="f6 dark-grey pv3 tl w-10">ID</th>
        <th class="f6 dark-grey pv3 tr w-10">Rooms</th>
        <th class="w-20"></th>
      </tr>
    </thead>

    <tbody>
      <% @facilities.each_with_index do |f, i| %>
        <tr data-toggle-right="<%= edit_settings_facility_facility_path(f.id)%>" class="pointer striped--light-gray">
          <td class="f6 tl pv3 pl4 pr3 gray"><%= i+1 %></td>
          <td class="f6 tl pv3 "><%= blank(f.name) %></td>
          <td class="f6 tl pv3 "><%= blank(f.code) %></td>
          <td class="f6 tr pv3"><%= f.rooms&.size %></td>
          <td class="f6 tr pv3 pr4">
            <% status = if !f.is_complete 
                        "Continue setup"
                      elsif f.is_enabled
                        "active"
                      else
                        "disabled"
                      end
            %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
