<div class="bg-white">
  <div id="toast" class="toast" ></div>
  <table class="std-table pv2 ph3 mt4 w-100">
    <thead>
      <tr class="bg-light-gray">
        <th>#</th>
        <th>Name</th>
        <th>ID</th>
        <th>License</th>
        <th class="tr"># of Rooms</th>
        <th></th>
        <th class="tc">Remove</th>
      </tr>
    </thead>

    <tbody>
      <% @facilities.each_with_index do |f, i| %>
        <% if f.is_enabled == true%>
          <% color = 'pointer'%>
      <%else%>
          <% color = 'pointer gray'%>
        <%end%>
        <tr class="<%= color %>">
          <td data-toggle-right="<%= edit_settings_facility_facility_path(f.id)%>"><%= i+1 %></td>
          <td data-toggle-right="<%= edit_settings_facility_facility_path(f.id)%>">
            <%= blank(f.name) %>
            <span class ="<%= f.is_enabled ? 'db f7 green' : 'db f7'%>" ><%= f.is_enabled ? 'Active' : 'Deactivated'%></span>
          </td>
          <td data-toggle-right="<%= edit_settings_facility_facility_path(f.id)%>"><%= blank(f.code) %></td>
          <td data-toggle-right="<%= edit_settings_facility_facility_path(f.id)%>"><%= blank(f.site_license) %></td>
          <td class="tr mw4" data-toggle-right="<%= edit_settings_facility_facility_path(f.id)%>"><%= f.rooms&.size %></td>
          <td class="tc mw3">
            <% status = if !f.is_complete 
                        "Continue setup"
                      elsif f.is_enabled
                        "active"
                      else
                        "disabled"
                      end
            %>
            <%= link_to "Configure", facility_setup_new_path(facility_id: f.id), class: "pv2 ph3 bg-orange white button--font bn box--br3 link dim pointer" %>
          </td>
          <td class="tc mw3">
            
            <%= link_to settings_facility_facility_path(f.id), class: "pv2 ph3 orange link dim pointer", method: :delete, data: {confirm: 'Are you sure want to remove this facility ? All data that are related to the facility also will be removed', remote: true} do  %>
              <i class="material-icons md-17 pr2">delete</i>
            <%end%>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
