<% content_for :sidebar do %>
  <%= render "layouts/sidebar" %>
<% end %>

<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Settings", settings_path], "Facilities" %>
<% end %>

<div class="w-100 ph3 flex flex-wrap">
  <div class="w-20 pa3 pt0">
    <div class="card bg-light-gray br3 w-100  flex items-start grow" >
      <%= link_to 'Facilities', settings_facility_facilities_path, class: 'ma0 dark-gray fw6 link db w-100 pa3 outline-0', style: 'height: 130px' %>
    </div>
  </div>
  <div class="w-20 pa3 pt0">
    <div class="card bg-light-gray br3 w-100 flex items-start grow" >
      <%= link_to 'Rooms', settings_facility_rooms_path, class: 'ma0 dark-gray fw6 link db w-100 pa3 outline-0', style: 'height: 130px' %>
    </div>
  </div>
  <div class="w-20 pa3 pt0">
    <div class="card bg-light-gray br3 w-100 flex items-start grow" >
      <%= link_to 'Sections', settings_facility_sections_path, class: 'ma0 dark-gray fw6 link db w-100 pa3 outline-0', style: 'height: 130px' %>
    </div>
  </div>
  <div class="w-20 pa3 pt0">
    <div class="card bg-light-gray br3 w-100 flex items-start grow" >
      <%= link_to 'Rows', '', class: 'ma0 dark-gray fw6 link db w-100 pa3 outline-0', style: 'height: 130px' %>
    </div>
  </div>
  <div class="w-20 pa3 pt0">
    <div class="card bg-light-gray br3 w-100 flex items-start grow" >
      <%= link_to 'Shelves', '', class: 'ma0 dark-gray fw6 link db w-100 pa3 outline-0', style: 'height: 130px' %>
    </div>
  </div>
  <div class="w-20 pa3 pt0">
    <div class="card bg-light-gray br3 w-100 flex items-start grow" >
      <%= link_to 'Settings', '', class: 'ma0 dark-gray fw6 link db w-100 pa3 outline-0', style: 'height: 130px' %>
    </div>
  </div>
</div>

