<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Settings", settings_path], ["Facilities", all_settings_facility_facilities_path], "Facilities" %>
<% end %>

<%= render 'layouts/right_sidebar' %>

<div class="ph4 tr pb3 pt3 bg-white ma4">
  <%= link_to "+ Setup New Facility", facility_setup_new_path, class: 'ttu pv2 ph3 bg-orange white button--font bn box--br3 link dim pointer' %>
</div>

<div class="bg-white mv3 mh4">
  <table class="w-100 table collapse">
    <thead>
      <tr>
        <th class="f6 dark-grey pv3 tl pl4 pr3">#</th>
        <th class="f6 dark-grey pv3 tl w-20">Name</th>
        <th class="f6 dark-grey pv3 tl w-10">ID</th>
        <th class="f6 dark-grey pv3 tr w-10">Rooms</th>
        <th class="w-20"></th>
      </tr>
    </thead>

    <tbody>
      <% @facilities.each_with_index do |f, i| %>
        <tr>
          <td class="f6 tl pv3 pl4 pr3 gray"><%= i+1 %></td>
          <td class="f6 tl pv3 "><%= blank(f.name) %></td>
          <td class="f6 tl pv3 "><%= blank(f.code) %></td>
          <td class="f6 tr pv3">
            <%= f.rooms&.size %>
          </td>
          <td class="f6 tr pv3 pr4">
            <% status = if !f.is_complete 
                        "Continue setup"
                      elsif f.is_enabled
                        "active"
                      else
                        "disabled"
                      end
            %>
            <%= link_to "Configure", facility_setup_new_path(facility_id: f.id), class: "pv2 ph3 bg-orange white button--font bn box--br3 link dim pointer" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
