<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Settings", settings_path], ["Facilities", all_settings_facility_facilities_path], "Facilities" %>
<% end %>

<%= render 'layouts/right_sidebar' %>

<div class="ph4 tr pb3 pt3 bg-white ma4">
  <%= link_to "+ Add facility", facility_setup_new_path, class: 'link ba bw1 b b--blue blue pa2 ph4 br4 dib' %>
</div>

<div class="bg-white mv3 mh4">
  <table class="w-100 table collapse">
    <thead>
      <tr>
        <th class="f6 dark-grey pv3 tl pl4 pr3">#</th>
        <th class="f6 dark-grey pv3 tl w-20">Name</th>
        <th class="f6 dark-grey pv3 tl w-10">ID</th>
        <th class="f6 dark-grey pv3 tr w-10">Rooms</th>
        <th class="f6 dark-grey pv3 tr w-20 pr4">Status</th>
      </tr>
    </thead>

    <tbody>
      <% @facilities.each_with_index do |f, i| %>
        <tr data-toggle-right="<%= edit_settings_facility_facility_url(f)%>" class="pointer striped--light-gray">
          <td class="f6 tl pv3 pl4 pr3 gray"><%= i+1 %></td>
          <td class="f6 tl pv3 "><%= blank(f.name) %></td>
          <td class="f6 tl pv3 "><%= blank(f.code) %></td>
          <td class="f6 tr pv3">
            <%= f.rooms&.size %>
          </td>
          <td class="f6 tr pv3 pr4">
            <% status = if !f.is_complete 
                        "Continue setup"
                      elsif f.is_enabled
                        "active"
                      else
                        "disabled"
                      end
            %>
            <% if !f.is_complete %>
              <%= link_to "Continue setup", facility_setup_new_path(facility_id: f.id), class: "link status-bullet ba b bw1 b--blue blue pa1 ph2 br4 f7" %>
            <% else %>
              <span class="<%=status %> status-bullet ba b bw1 b--blue blue pa1 ph2 br4 f7"><%= status %></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
