<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Settings", settings_path], ["Facilities", all_settings_facility_facilities_path], "Facilities" %>
<% end %>

<% content_for :breadcrumb do %>
  <div id="right-sidebar" frameborder="0" class="collapse vh-100 ba0 fixed bg-white shadow-1 overflow-y b--light-gray" style="width: 0px;">
    <div class="ph4 tl mt2">
      <a href="" id="hide-sidebar" class="link gray fw1 outline-0">&times;</a>
    </div>
    <iframe id="right-sidebar-content" frameborder="0" class="w-100 min-vh-100 db"" >
    </iframe>
  </div>
<% end %>

<div class="ph4 w-100 pb4 tr">
  <%= link_to "Add facility", facility_setup_new_path, class: 'link ba bw1 b b--blue blue pa2 ph4 br4' %>
</div>

<div class="w-100 ph0">
  <table class="w-100 table collapse">
    <thead>
      <tr>
        <th class="f6 white pv3 tl pl4 pr3">#</th>
        <th class="f6 white pv3 tl w-20">Name</th>
        <th class="f6 white pv3 tl w-10">Code</th>
        <th class="f6 white pv3 tl w-30">Location & contact</th>
        <th class="f6 white pv3 tr w-10">Rooms</th>
        <th class="f6 white pv3 tr w-20 pr4">Status</th>
      </tr>
    </thead>

    <tbody>
      <% @facilities.each_with_index do |f, i| %>
        <tr data-toggle-right="<%= edit_settings_facility_facility_url(f)%>" class="pointer">
          <td class="f6 tl pl4 pr3 gray"><%= i+1 %></td>
          <td class="f6 tl"><%= blank(f.name) %></td>
          <td class="f6 tl"><%= blank(f.code) %></td>
          <td class="f6 tl">
            <p class="ma0 mb1"><%= f.address %></p>
            <p class="ma0 mb1"><%= f.zipcode %> <%= f.city %></p>
            <p class="ma0 mb1"><%= f.state %></p> 
            <p class="ma0 mb1"><%= f.country %></p>
            <p class="ma0 mb1">Tel: <%= f.phone || 'N/A' %></p>
            <p class="ma0 mb1">Fax: <%= f.fax || 'N/A' %></p>
          </td>
          <td class="f6 tr">
            <%= f.room_count %>
          </td>
          <td class="f6 tr pr4">
            <% status = if !f.is_complete 
                        "Continue setup"
                      elsif f.is_enabled
                        "active"
                      else
                        "disabled"
                      end
            %>
            <span class="<%=status %> status-bullet ba b bw1 b--blue blue pa1 ph2 br4 f7"><%= status %></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>