<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Home", root_path], "Edit Profile"%>
<% end %>

<div class="pa4">
  <div class="flex flex-column justify-between bg-white box--shadow">
    <div class="pa4 min-h-600">
      <div class="fl w-70-l w-100 flex flex-column width-100">
        <h5 class="tl pa0 ma0 h5--font dark-grey ttc">edit profile</h5>
        <p class="mt2 body-1 grey">
          Let's get a few details of your info.
        </p>

        <%= form_for(resource, as: resource_name, 
            url: registration_path(resource_name), 
            html: {method: :put}) do |f| %>

          <%= devise_error_messages! %>

          <div class="flex flex-column mt3">
            <div class="mv4 flex flex-row-l flex-column">
              <div class="w-20-l w-50">
                <span class="subtitle-2 grey">Personal Details</span>
              </div>

              <div class="fl w-80-l w-100 pt0-l pt3 flex flex-column">
                <div class="w5 mb3">
                  <div class="db mr4">
                    <%= f.label "Photo", class: "subtitle-2 grey db mb1 ttc" %>
                    <%= f.hidden_field :photo, value: @user.cached_photo_data %>
                    <%= f.file_field :photo, autofocus: false,
                      class: "ttc grey subtitle-2-regular pa2 ba b--light-grey box--br3 w-100 outline-0" %>
                    <%= image_tag @user.photo_url, class: "mt2" if @user.photo_url%>
                  </div>
                </div>

                <div class="flex flex-row mb3">
                  <div class="w-40 mr4">
                    <%= f.label :first_name, class: "subtitle-2 grey db mb1 ttc" %>
                    <%= f.text_field :first_name, autofocus: false,
                        value: @user.first_name,
                        class: "ttc grey subtitle-2-regular pa2 ba b--light-grey box--br3 w-100 outline-0" %>
                  </div>

                  <div class="w-40">
                    <%= f.label :last_name, class: "subtitle-2 grey db mb1 ttc" %>
                    <%= f.text_field :last_name, autofocus: false,
                        value: @user.last_name,
                        class: "ttc grey subtitle-2-regular pa2 ba b--light-grey box--br3 w-100 outline-0" %>
                  </div>
                </div>

                <div class="flex flex-row">
                  <div class="w-40 mr4">
                    <%= f.label :email, class: "subtitle-2 grey db mb1 ttc" %>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email",
                        value: @user.email,
                        class: "grey subtitle-2-regular pa2 ba b--light-grey box--br3 w-100 outline-0" %>
                  </div>

                  <div class="w-40">
                    <%= f.label :title, class: "subtitle-2 grey db mb1 ttc" %>
                    <%= f.text_field :title, autofocus: false,
                        value: @user.title,
                        class: "ttc grey subtitle-2-regular pa2 ba b--light-grey box--br3 w-100 outline-0" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex flex-row-l flex-column">
              <div class="w-20-l w-50">
                <span class="subtitle-2 grey">Password Details</span>
              </div>

              <div class="fl w-80-l w-100 pt0-l pt3 flex flex-column">
                <div class="flex flex-row mb3">
                  <div class="w-40 mr4">
                    <%= f.label :current_password, class: "subtitle-2 grey db mb1 ttc" %> 
                    <%= f.password_field :current_password, autocomplete: "off",
                        class: "grey subtitle-2-regular pa2 ba b--light-grey box--br3 w-100 outline-0" %>
                    
                    <i class="caption grey mt1">
                      (we need your current password to confirm your changes)
                    </i>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex flex-row-l flex-column mt4-l mt2">
              <div class="w-20-l w-50">
                <span class="subtitle-2 grey">Change Password</span>
              </div>

              <div class="fl w-80-l w-100 pt0-l pt3 flex flex-column">
                <div class="flex flex-row mb3">
                  <div class="w-40 mr4">
                    <%= f.label :password, class: "subtitle-2 grey db mb1 ttc" %>
                    <%= f.password_field :password, autocomplete: "off",
                        class: "grey subtitle-2-regular pa2 ba b--light-grey box--br3 w-100 outline-0" %>
                    
                    <% if @minimum_password_length %>
                      <em class="caption grey mt1">
                        <%= @minimum_password_length %> characters minimum
                      </em>
                    <% end %>
                    <br />
                    <i class="caption grey mt1">(Leave it blank if you don't want to change it)</i>
                  </div>
                  <div class="w-40">
                    <%= f.label :password_confirmation, class: "subtitle-2 grey db mb1 ttc" %>
                    <%= f.password_field :password_confirmation, autocomplete: "off",
                        class: "grey subtitle-2-regular pa2 ba b--light-grey box--br3 w-100 outline-0" 
                    %>
                  </div>
                </div>
              </div>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div class="dark-grey subtitle-2 db pv2">
                Currently waiting confirmation for: <%= resource.unconfirmed_email %>
              </div>
            <% end %>
          </div>
      </div>
    </div>

    <div class="ph4 flex flex-row justify-between items-center ba bt-1 bb-0 br-0 bl-0 b--light-grey" style="height: 86px">
      <div class="dim flex flex-row items-center pointer">
        <i class="material-icons md-light-gray">keyboard_arrow_left</i>
        <%= link_to "Back", root_path, class: "db tr ttu link button--font light-grey" %>
      </div>

      <div class="flex flex-row items-center">
        <%= f.submit "update",
            class: "db pv3 ph4 bg-orange white button--font bn box--br3 ttu link dim pointer" %>
      </div>
    </div>
    <% end %>
  </div>
</div>