<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Settings", settings_path], ["Purchasing", purchasing_path], "Customers" %>
<% end %>

<%= render 'layouts/right_sidebar' %>

<%= react_component 'settings/CustomerSettingApp'%>
<!--
<div class="pa4">
<div class="bg-white box--shadow fl w-100">
<div class="bg-white ma4 mb0 flex items-center pt3">
  <div class="w-70">
    <h2 class="tl pa0 ma0 h5--font dark-grey ttc">Customers</h2>
    <p class="mt2 mb4 db body-1 grey">Manage customers </p>
  </div>
  <div class="w-30 tr">
    <a href="#0"
       data-toggle-right="<%= new_sales_customer_path %>"
       class="btn btn--primary"
    >
      + Add New
    </a>
  </div>

  

</div>

<div class="bg-white mv3 mh4 pb4">
  <table class="w-100 collapse ba b--light-gray">
    <thead >
      <tr class="stripe-dark">
        <th class="f6 dark-grey pv3 tl pl4 pr3 br b--light-gray " style="width:30px">#</th>
        <th class="f6 dark-grey pv3 tc br b--light-gray pl2 ">Account No</th>
        <th class="f6 dark-grey pv3 tc br b--light-gray pl2">Name</th>
        <th class="f6 dark-grey pv3 tc br b--light-gray pl2">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @records.try(:each_with_index) do |f, i| %>
        <tr data-toggle-right="<%= edit_sales_customer_path(f.id)%>" class="pointer">
          <td class="f6 pv3 tc pl4 pr3 gray"><%= i+1 %></td>
          <td class="f6 tc"><%= blank(f.account_no) %></td>
          <td class="f6 tc"><%= blank(f.name) %></td>
          <td class="f6 tc"><%= blank(f.status) %></td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
</div>
-->