<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Settings", settings_path], "Company Setup"%>
<% end %>

<div class="pa4 mw960">
  <div class="flex flex-column justify-between bg-white box--shadow">
    <div class="pa4 min-h-300">
      <div class="flex flex-column">
        <h5 class="tl pa0 ma0 h5--font dark-grey ttc">Metrc Integration</h5>
        <%= form_with model: @company_info, url: metrc_setup_settings_company_metrc_integrations_path, local: true do |f| %>
          <div class="flex mt3 justify-between">
            <p>
              <span class="db dark-grey">Enable METRC Integration</span>
              <span class="grey">When enabled, item categories will be pulled from Metrc</span>
            </p>
            <div class="self-center">
              <%= f.check_box :enable_metrc_integration,
                checked: @company_info.enable_metrc_integration,
                class: "toggle toggle-default",
                data: { toggle: 'metric_enabled_options' }
              %>
              <label class="toggle-button" for="company_info_enable_metrc_integration"></label>
            </div>
          </div>
          <div class="flex mt3 justify-between" data-collapse="metric_enabled_options">
            <div class="flex flex-column w-40">
              <%= f.label "User Key", class: "db mb1 grey subtitle-2 ttc" %>
              <%= f.text_field :metrc_user_key,
                value: @company_info.metrc_user_key,
                class: "grey ba b--light-grey br2 outline-0 pa2 db w-100" %>
            </div>
          </div>
          <%= f.submit "Save", class: "btn btn--primary btn--small fr" %>
        <% end %>
      </div>
    </div>

    <div class="dt pb4" style="table-layout: auto" data-collapse="metric_enabled_options">
        <div class="dt-row">
          <div class="fw6 dtc pa4 pv3 bg-black-10">
            Data
          </div>
          <div class="fw6 dtc tc pv3 bg-black-10">
            Last Updated At
          </div>
          <div class="dtc tc pv3 bg-black-10"></div>
        </div>

        <div class="dt-row">
          <div class="fw6 dtc pa4 pv2 bg-near-white underline">
            State (CA)
          </div>
          <div class="dtc pa4 pv2 bg-near-white"></div>
          <div class="dtc pa4 pv2 bg-near-white"></div>
        </div>

        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Item Categories
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "state_item_categories") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "MetrcUpdateItemCategoryWorker",
                                                                                        code: "state_item_categories"),
                                                                                        class: 'btn btn--primary btn--small',
                                                                                        method: :put, data: {remote: false}%>
          </div>
        </div>

        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Unit of measure
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "state_unit_of_measures") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "MetrcUpdateUomWorker",
                                                                                        code: "state_unit_of_measures"),
                                                                                        class: 'btn btn--primary btn--small',
                                                                                        method: :put, data: {remote: false}%>
          </div>
        </div>

        <div class="dt-row">
          <div class="fw6 dtc pa4 pv2 bg-near-white underline">
            Facility
          </div>
          <div class="dtc pa4 pv2 bg-near-white"></div>
          <div class="dtc pa4 pv2 bg-near-white"></div>
        </div>

        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Facility
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "facility_facility_info") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "MetrcUpdateFacilityWorker",
                                                                                        code: "facility_facility_info",
                                                                                        facility_id: current_facility.id),
                                                                                        class: 'btn btn--primary btn--small',
                                                                                        method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Rooms
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "facility_rooms") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ?  metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "MetrcUpdateRoomsWorker",
                                                                                        code: "facility_rooms"),
                                                                                        class: 'btn btn--primary btn--small',
                                                                                        method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Strains
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "facility_strains") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "MetrcUpdateStrainsWorker",
                                                                                        code: "facility_strains",
                                                                                        facility_id: current_facility.id),
                                                                                        class: 'btn btn--primary btn--small',
                                                                                        method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Items
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "facility_items") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "MetrcUpdateItemWorker",
                                                                                        code: "facility_items",
                                                                                        facility_id: current_facility.id),
                                                                                        class: 'btn btn--primary btn--small',
                                                                                        method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="fw6 dtc pa4 pv2 bg-near-white underline">
            Tags
          </div>
          <div class="dtc pa4 pv2 bg-near-white"></div>
          <div class="dtc pa4 pv2 bg-near-white"></div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Receive Tags into Metrc
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "tags_receive_tags") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "",
                                                                                        code: "tags_receive_tags"),
                                                                                        class: 'btn btn--primary btn--small',
                                                                                        method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Void unused tag - Read
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "tags_void_unused_tag") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "",
                                                                                        code: "tags_void_unused_tag"),
                                                                                        class: 'btn btn--primary btn--small',
                                                                                        method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="fw6 dtc pa4 pv2 bg-near-white underline">
            Batches
          </div>
          <div class="dtc pa4 pv2 bg-near-white"></div>
          <div class="dtc pa4 pv2 bg-near-white"></div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Batch Types
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "batches_batch_types") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "",
                                                                                        code: "batches_batch_types"),
                                                                                        class: 'btn btn--primary btn--small',
                                                                                        method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Create Batch
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "batches_create_batch") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "",
                                                                                        code: "batches_create_batch"),
                                                                                        class: 'btn btn--primary btn--small',
                                                                                        method: :put,
                                                                                        data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Active Batch
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "batches_active_batch") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "batches_active_batch"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Change Growth Phase
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "batches_change_grow_phase") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "batches_change_grow_phase"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Move Plants Batches
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "batches_move_plant_batches") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "batches_move_plant_batches"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Create Packages
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "batches_create_package") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "batches_create_package"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Destroyed (immature plants)
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "batches_destroyed_plant") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "batches_destroyed_plant"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>

        <div class="dt-row">
          <div class="fw6 dtc pa4 pv2 bg-near-white underline">
            Plants
          </div>
          <div class="dtc pa4 pv2 bg-near-white"></div>
          <div class="dtc pa4 pv2 bg-near-white"></div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Waste Methods
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "plants_waste_methods") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "MetrcUpdatePlantWasteMethods",
                                                                                        code: "plants_waste_methods"),
                                                                                        class: 'btn btn--primary btn--small',
                                                                                        method: :put,
                                                                                        data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Waste Reason
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "plants_waste_reasons") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "MetrcUpdatePlantWasteReasons",
                                                                                        code: "plants_waste_reasons"),
                                                                                        class: 'btn btn--primary btn--small',
                                                                                        method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Growth Phases
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "plants_growth_phase") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "plants_growth_phase"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Create Plantings
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "plants_create_planting") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "plants_create_planting"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Moving
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "plants_moving") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "plants_moving"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Destroy Plants
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "plants_destroy_plant") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "plants_destroy_plant"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Destroyed by rooms
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "plants_destroyed_by_rooms") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "plants_destroyed_by_rooms"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Record Plant Waste
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "plants_record_plant_waste") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "plants_record_plant_waste"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Create Harvest
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "plants_create_harvest") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "plants_create_harvest"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Manicure
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "plants_manicure") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "plants_manicure"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>

        <div class="dt-row">
          <div class="fw6 dtc pa4 pv2 bg-near-white underline">
            Harvest
          </div>
          <div class="dtc pa4 pv2 bg-near-white"></div>
          <div class="dtc pa4 pv2 bg-near-white"></div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Info
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "harvest_info") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "harvest_info"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Create Package
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "harvest_create_package") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "harvest_create_package"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Remove Package
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "harvest_remove_package") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "harvest_remove_package"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Finish
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "harvest_finish") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "harvest_finish"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Unfinish
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "harvest_unfinish") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "harvest_unfinish"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
         <div class="dt-row">
          <div class="fw6 dtc pa4 pv2 bg-near-white underline">
            Package
          </div>
          <div class="dtc pa4 pv2 bg-near-white"></div>
          <div class="dtc pa4 pv2 bg-near-white"></div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Types
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "package_types") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "package_types"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Adjust Reasons
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "package_adjust_reasons") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "package_adjust_reasons"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
            Info
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "package_info") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "package_info"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
           List Active
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "package_list_active") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "package_list_active"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
           List on hold
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "package_list_on_hold") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "package_list_on_hold"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
           Create from harvest batch
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "package_create_from_harvest_batch") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "package_create_from_harvest_batch"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
           Adjust
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "package_adjust") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "package_adjust"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
           Create for testing
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "package_create_for_testing") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "package_create_for_testing"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
           Change Item
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "package_change_item") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "package_change_item"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
           Change room
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "package_change_room") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "package_change_room"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
           Finish
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "package_finish") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "package_finish"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc pa4 pv2 dark-grey" style="width: 70%">
           Unfinish
          </div>
          <% metrc_h = current_facility.metrc_histories.find_by(code: "package_unfinish") %>
          <div class="dtc tc pv2 dark-grey" style="width: 15%"> <%= metrc_h.present? ? metrc_h.value.strftime("%d-%m-%Y %H:%M") : "--" %> </div>
          <div class="dtc tc pv2 dark-grey" style="width: 15%">
            <%= link_to 'Update', update_metrc_settings_company_metrc_integrations_path(type: "", code: "package_unfinish"), class: 'btn btn--primary btn--small', method: :put, data: {remote: false}%>
          </div>
        </div>
    </div>
</div>

<% content_for :before_body_end do %>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      setupCollapsible();
    })
  </script>
<% end %>
