<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Settings", settings_path], "Team Settings"%>
<% end %>

<div class="pa4">
  <div class="flex flex-column justify-between bg-white box--shadow">
    <div class="pa4 min-h-600">
      <div class="fl w-70-l w-100 flex flex-column width-100">
        <h5 class="tl pa0 ma0 h5--font dark-grey ttc">team settings</h5>
        <p class="mt2 body-1 grey">
          Browses through your team's information here.
        </p>

        <h2>Users</h2>
        <table class="collapse ba br2 b--black-10 pv2 ph3 f6">
          <tbody>
            <tr class="striped--light-gray">
              <td class="pv2 ph3">Name</td>
              <td class="pv2 ph3">Email</td>
              <td class="pv2 ph3">Title</td>
            </tr>
            <% @users.each do |user| %>
              <tr class="striped--light-gray">
                <td class="pv2 ph3"><%= user.first_name %> <%= user.last_name %></td>
                <td class="pv2 ph3"><%= user.email %></td>
                <td class="pv2 ph3"><%= user.title %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>