<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Settings", settings_path], "Team Settings"%>
<% end %>

<div class="pa4">
  <div class="flex flex-column justify-between bg-white box--shadow">
    <div class="pa4 min-h-600">
      <div class="fl w-70-l w-100 flex flex-column width-100">
        <h5 class="tl pa0 ma0 h5--font dark-grey ttc">team settings</h5>
        <p class="mt2 body-1 grey">
          Browses through your team's information here.
        </p>

        <div class="mt4"></div>
        <div class="pv3 mt3">
          <%= link_to '#', class: "link pa3 dim ba bb-0 bt-1 bl-1 br-1 b--light-grey" do %>
            <span class="subtitle-2 dark-grey ttc">group</span>
          <% end %>

          <%= link_to '#', class: "link pa3 dim ba bb-0 bt-1 bl-0 br-1 b--light-grey" do %>
            <span class="subtitle-2 dark-grey ttc">roles</span>
          <% end %>

          <%= link_to '#', class: "link pa3 dim ba bb-0 bt-1 bl-0 br-1 b--light-grey" do %>
            <span class="subtitle-2 dark-grey ttc">users</span>
          <% end %>
        </div>

        <table class="collapse ba b--light-grey box--br3 pv2 ph3 f6">
          <tbody>
            <tr class="striped--light-gray">
              <td class="pv2 ph3 subtitle-2 dark-grey">Photo</td>
              <td class="pv2 ph3 subtitle-2 dark-grey">Name</td>
              <td class="pv2 ph3 subtitle-2 dark-grey">Email</td>
              <td class="pv2 ph3 subtitle-2 dark-grey">Title</td>
            </tr>
            <% @users.each do |user| %>
              <tr class="striped--light-gray">
                <td class="pv2 ph3">
                  <%= image_tag 'blank-avatar.png', class: "br-100", style: "max-height: 2rem" %>
                </td>

                <td class="pv2 ph3">
                  <%= link_to "#", class: "blue link dim subtitle-2-regular" do %>
                    <%= user.first_name %> <%= user.last_name %>
                  <% end %>
                </td>

                <td class="pv2 ph3 subtitle-2-regular grey"><%= user.email %></td>
                <td class="pv2 ph3 subtitle-2-regular grey"><%= user.title %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div class="mv3 flex-none">
          <span class="dib">Roles:</span>
          <ul class="list pl0">
            <% @roles.each do |role| %>
              <li class="">
                &gt; <a href="#0"><%= role.name %></a>
              </li>
            <% end %>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>