<% selectedStyle = 'scrollable-tab__tab scrollable-tab__tab--active' %>

<div class="scrollable-tab">
  <% if selected == Constants::NUTRIENTS_KEY %>
    <div class="<%= selectedStyle %>">
      Nutrients
    </div>
  <% else %>
    <%= link_to 'Nutrients',
      nutrients_inventory_raw_materials_path, 
      class: 'scrollable-tab__tab' %>
  <% end %>

  <% if selected == Constants::GROW_MEDIUM_KEY %>
    <div class="<%= selectedStyle %>">
      Grow Medium
    </div>
  <% else %>
    <%= link_to 'Grow Medium',
      grow_medium_inventory_raw_materials_path,
      class: 'scrollable-tab__tab' %>
  <% end %>

  <% if selected == Constants::GROW_LIGHT_KEY %>
    <div class="<%= selectedStyle %>">
      Grow Lights
    </div>
  <% else %>
    <%= link_to 'Grow Lights', 
      grow_lights_inventory_raw_materials_path,
      class: 'scrollable-tab__tab' %>
  <% end %>

  <% if selected == Constants::SUPPLEMENTS_KEY %>
    <div class="<%= selectedStyle %>">
      Supplements
    </div>
  <% else %>
    <%= link_to 'Supplements',
      supplements_inventory_raw_materials_path, 
      class: 'scrollable-tab__tab' %>
  <% end %>
  
  <% if selected == Constants::SEEDS_KEY %>
    <div class="<%= selectedStyle %>">
      Seeds
    </div>
  <% else %>
    <%= link_to 'Seeds',
      seeds_inventory_raw_materials_path, 
      class: 'scrollable-tab__tab' %>
  <% end %>

  <% if selected == Constants::PURCHASED_CLONES_KEY %>
    <div class="<%= selectedStyle %>">
      Purchased clones
    </div>
  <% else %>
    <%= link_to 'Purchased clones',
      purchased_clones_inventory_raw_materials_path, 
      class: 'scrollable-tab__tab' %>
  <% end %>


  <% if selected == Constants::OTHERS_KEY %>
    <div class="<%= selectedStyle %>">
      Others
    </div>
  <% else %>
    <%= link_to 'Others',
      others_inventory_raw_materials_path,
      class: 'scrollable-tab__tab' %>
  <% end %>
</div>