<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Home",root_path], 
      ['Inventory Setup', inventory_setup_path], 
      'Raw Material',
      'Nutrients' 
  %>
<% end %>


<div class="pa4">
  <%= render partial: 'setupIntro' %>
  <%= render partial: 'setupNavigation', locals: { selected: 'nutrients' } %>
  <div class="flex flex-column">
    <%= react_component('inventory/raw_materials/NutrientsSetupApp', 
    { locations: @locations, order_uoms: @order_uoms, catalogues: @catalogues }) %>

    <div class="w-100 bg-white ph3 pt2 pb4">
      <div class="dim flex flex-row items-center pointer">
        <i class="material-icons md-light-gray">keyboard_arrow_left</i>
        <%= link_to "Back", inventory_setup_path, class: "db tr ttu link button--font light-grey" %>
      </div>  
    </div>
  </div>
</div>