<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Home",root_path], 
      ['Inventory Setup', inventory_setup_path], 
      'Raw Material',
      'Others' 
  %>
<% end %>


<div class="pa4">
  <%= render partial: 'setupIntro' %>
 <%= render partial: 'setupNavigation', locals: { selected: Constants::OTHERS_KEY } %>
  <div class="flex flex-column">
    <%= react_component('inventory/raw_materials/RawMaterialSetupApp', { 
      locations: @locations, 
      order_uoms: @order_uoms, 
      uoms: @uoms, 
      raw_material_type: Constants::OTHERS_KEY, 
      catalogues: @catalogues, 
      facility_id: params[:facility_id],
      scanditLicense: @scanditLicense 
      }) 
    %>
   
    <div class="w-100 bg-white ph3 pt2 pb4">
      <div class="dim flex flex-row items-center pointer">
        <i class="material-icons md-light-gray">keyboard_arrow_left</i>
        <%= link_to "Back", inventory_setup_path, class: "db tr ttu link button--font light-grey" %>
      </div>  
    </div>
  </div>
</div>
