<div class="ph4 pv3 bb b--light-grey">
  <h5 class="h6--font dark-grey ma0 ttc"><%= blank(@record.invoice_no) %></h5>
</div>

  
  <div class="ph4 flex mt3">
    <div class="w-100">
      <label class="f6 fw6 db mb1 gray ttc">Invoice No</label>      
      <label class="f6 black"><%= blank(@record.invoice_no)%> </label>
    </div>
  </div>

  <div class="ph4 flex mt3">
    <div class="w-100">
      <label class="f6 fw6 db mb1 gray ttc">Invoice Date</label>      
      <label class="f6 black"><%= blank(@record.invoice_date)%> </label>
    </div>
  </div>

  <div class="ph4 flex mt3">
    <div class="w-100">
      <label class="f6 fw6 db mb1 gray ttc">Status</label>      
      <label class="f6 black"><%= blank(@record.status)%> </label>
    </div>
  </div>

  <div class="ph4 flex mt3">
    <div class="w-100">
      <label class="f6 fw6 db mb1 gray ttc">Terms In Days</label>      
      <label class="f6 black"><%= blank(@record.terms_in_days)%> </label>
    </div>
  </div>

  <div class="ph4 flex mt3">
    <div class="w-100">
      <label class="f6 fw6 db mb1 gray ttc">Facility</label>      
      <label class="f6 black"><%= blank(@record.facility.name)%> </label>
    </div>
  </div>

  <div class="ph4 flex mt3">
    <div class="w-100">
      <label class="f6 fw6 db mb1 gray ttc">Vendor</label>      
      <label class="f6 black"><%= blank(@record.vendor.try(:name))%> </label>
    </div>
  </div>

  <div class="ph4 flex mt3">
    <div class="w-100">
      <label class="f6 fw6 db mb1 gray ttc">Purchase Order</label>      
      <label class="f6 black"><%= blank(@record.purchase_order.try(:purchase_order_no))%> </label>
    </div>
  </div>


  <div class="ph4 flex mt3">
    <div class="w-100">
      <label class="f6 fw6 db mb1 gray ttc">Items (<%= @record.items.try(:count)%>)</label>      
      <% if @record.items %>
        <table class="collapse ba b--light-grey box--br3 pv2 ph3 f6 mt1 w-100">
          <thead>

          </thead>
          <tbody>
            <tr class="striped--light-gray">
              <th class="pv2 ph3 dark-grey tl ttu">Product Name</th>
              <th class="pv2 ph3 dark-grey tl ttu">Price</th>
              <th class="pv2 ph3 dark-grey tl ttu">Quantity</th>
            </tr>
            <% @record.items.each do |item|%>
            <tr class="striped--light-gray">
              <td class="tl pv2 ph3 w5"><%= item.product_name %></td>
              <td class="tl pv2 ph3"><%= item.currency %><%= item.price %></td>
              <td class="tl pv2 ph3"><%= item.quantity %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
