<div class="">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), 
      html: { 
        method: :post,
        class: "bg-white flex flex-column justify-center items-center pa3 ba br3 b--orange mb"
      }) do |f| %>

    <%= image_tag "logo.svg", class: "mt2 mb4" %>
    <span class="h5--font darkgrey ttc tc db">Password recovery</span>
    <%= devise_error_messages! %>

    <div class="w5">
      <div class="field mt4 tl w-100">
        <%= f.label :email, class: "subtitle-2 dark-grey db mb1" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
            class: "grey subtitle-2-regular pa2 ba b--light-grey box--br3 w-100 outline-0"
        %>
      </div>
    </div>

    <div class="actions mv4">
      <%= f.submit "Send recovery link",
          class: "ttu button--font white link dim bg-orange bn box--br3 ph2 pv3 dib w-100 pointer" %>
    </div>
    <%= render "devise/shared/links" %>

    <% end %>

</div>
