<% content_for :sidebar do %>
  <%= render "layouts/sidebar" %>
<% end %>

<div class="ph4">
  <% content_for :breadcrumb do %>
    <div>
      <%= breadcrumbs "Home" %>
    </div>

    <div class="flex flex-row items-center">
      <i class="material-icons gray f6 mr3 dim">notifications</i>

      <img
        src="http://tachyons.io/img/logo.jpg"
        class="br-100 h2 w2 mr3 dib" alt="avatar">

      <span class="ttc subtitle-2">User Name</span>

      <i class="material-icons dim f6 gray ml2">keyboard_arrow_down</i>
    </div>
  <% end %>

  <h3 class="w-100 tc">
    Welcome to Cannected, user.
    <br/>
    Where do you want to start?
  </h3>

  <% @dashboard.incomplete_facilities.each do |f| %>
    <p class="mt2 pa4 bg-yellow">
      Complete to setup facility 
      <%= link_to "#{f['code']} (#{f['name']})",
        facility_setup_new_path(facility_id: f['_id'], step: 3),
        class: "link blue"
      %>
    </p>
  <% end %>

  <div class="flex flex-row items-center justify-center">
    <div
      style="height: 378px; width: 300px;" 
      class="tc bg-white pa4 bn br3 box-shadow flex flex-column justify-between">
      
      <%= link_to facility_setup_new_path, 
          class: "mv3 dim dib link bn br-100 h4 w4 flex items-center justify-center center" do
      %>
        <%= image_tag 'icons/add-facility' %>
      <% end %>

      <div class="flex flex-column mb3">
        <h6 class="ttc mt0 mb2">Setting up facility</h6>
        <p class="w-100 center body-1 ma0">Set up unlimited facilities, rooms and shelves for proper planning.</p>
      </div>
    </div>

    <div 
      style="height: 378px; width: 300px;" 
      class="mh3 tc bg-white pa4 bn br3 box-shadow flex flex-column justify-between">
      
      <%= content_tag :a, image_tag('icons/add-inventory'), 
          :class=> "mv3 dim dib link bn br-100 h4 w4 flex items-center justify-center center" %>

      <div class="flex flex-column mb3">
        <h6 class="mt0 mb2 ttc">Setting up inventory</h6>
        <p class="w-100 center body-1 ma0">Set up unlimited facilities, rooms and shelves for proper planning.</p>
      </div>
    </div>

    <div 
      style="height: 378px; width: 300px;" 
      class="tc bg-white pa4 bn br3 box-shadow flex flex-column justify-between">
      
      <%= content_tag :a, image_tag('icons/add-cultivation'), 
          :class=> "mv3 dim dib link bn br-100 h4 w4 flex items-center justify-center center" %>
      
      <div class="flex flex-column mb3">
        <h6 class="mt0 mb2 ttc">Setting up cultivation</h6>
        <p class="w-100 center body-1 ma0">Set up unlimited facilities, rooms and shelves for proper planning.</p>
      </div>
    </div>
  </div>
</div>