<% content_for :sidebar do %>
  <%= render "layouts/sidebar" %>
<% end %>

<div class="ph4">
  <% content_for :breadcrumb do %>
    <div>
      <%= breadcrumbs "Home" %>
    </div>
  <% end %>

  <h3 class="w-100 tc h3--font dark-grey">
    Welcome to Cannected, user.
    <br/>
    Where do you want to start?
  </h3>

  <% @dashboard.incomplete_facilities.each do |f| %>
    <p class="mt2 pa4 bg-yellow">
      Complete to setup facility 
      <%= link_to "#{f['code']} (#{f['name']})",
        facility_setup_new_path(facility_id: f['_id'], step: 3),
        class: "link blue"
      %>
    </p>
  <% end %>

  <div class="flex flex-row-l flex-column items-center justify-center">
    <div>
      <% if @dashboard.last_facility %>
        <%= link_to facility_setup_new_path(facility_id: @dashboard.last_facility.id),
          style: "height: 378px; width: 300px;",
          class: "tc bg-white pa4 bn box--br3 box--shadow flex flex-column justify-between grow  link" do %>
          
          <div class="mv3 dim dib link bn br-100 h4 w4 flex items-center justify-center center">
            <%= image_tag "add-facility.svg" %>
          </div>

          <div class="flex flex-column mb3">
            <h6 class="ttc mt0 mb2 h6--font dark-grey">Continue Setup <%= @dashboard.last_facility.name %></h6>
            <p class="w-100 center body-1 grey ma0">Set up unlimited facilities, rooms and shelves for proper planning.</p>
          </div>
        <% end %>
      <% else%>
        <%= link_to facility_setup_new_path,
          style: "height: 378px; width: 300px;", 
          class: "tc bg-white pa4 bn box--br3 box--shadow flex flex-column justify-between grow  link" do %>
          
          <div class="mv3 dim dib link bn br-100 h4 w4 flex items-center justify-center center">
            <%= image_tag "add-facility.svg" %>
          </div>

          <div class="flex flex-column mb3">
            <h6 class="ttc mt0 mb2 h6--font dark-grey">Setting up facility</h6>
            <p class="w-100 center body-1 grey ma0">Set up unlimited facilities, rooms and shelves for proper planning.</p>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= link_to inventory_setup_path, 
      style: "height: 378px; width: 300px;", 
      class: "mh3 mv0-l mv4 tc bg-white pa4 bn box--br3 box--shadow flex flex-column justify-between grow  link" do %>
      
      <div class="mv3 dim dib link bn br-100 h4 w4 flex items-center justify-center center">
        <%= image_tag "add-inventory.svg" %>
      </div>

      <div class="flex flex-column mb3">
        <h6 class="mt0 mb2 ttc h6--font dark-grey">Setting up inventory</h6>
        <p class="w-100 center body-1 grey ma0">Set up unlimited facilities, rooms and shelves for proper planning.</p>
      </div>
    <% end %>


    <%= link_to new_cultivation_batch_path,
      style: "height: 378px; width: 300px;", 
      class: "mb0-l mb4 tc bg-white pa4 bn box--br3 box--shadow flex flex-column justify-between grow link" do %>
      
      <div class="mv3 dim dib link bn br-100 h4 w4 flex items-center justify-center center">
        <%= image_tag "add-cultivation.svg" %>
      </div>

      <div class="flex flex-column mb3">
        <h6 class="mt0 mb2 ttc h6--font dark-grey">Plan your own cultivation</h6>
        <p class="w-100 center grey body-1 ma0">Set up unlimited facilities, rooms and shelves for proper planning.</p>
      </div>
    <% end %>
  </div>
</div>
