<% content_for :sidebar do %>
  <%= render "layouts/sidebar" %>
<% end %>

<% content_for :breadcrumb do %>
  Settings
<% end %>

<div class="w-100 pv3 flex">
  <div class="w-20 pa3 pt0">
    <div class="card bg-light-grey br3 w-100 pa3 flex items-start grow" >
      <%= link_to 'Company Info', edit_settings_company_company_info_path(id: "my-company"), class: 'ma0 dark-grey fw6 link db w-100', style: 'height: 100px' %>
    </div>
  </div>
  <div class="w-20 pa3 pt0">
    <div class="card bg-light-grey br3 w-100 pa3 flex items-start grow" >
      <%= link_to 'General Settings', settings_core_path, class: 'ma0 dark-grey fw6 link db w-100', style: 'height: 100px' %>
    </div>
  </div>
  <div class="w-20 pa3 pt0">
    <div class="card bg-light-grey br3 w-100 pa3 flex items-start grow" >
      <%= link_to 'Materials', materials_path, class: 'ma0 dark-grey fw6 link db w-100', style: 'height: 100px' %>
    </div>
  </div>
  <div class="w-20 pa3 pt0">
    <div class="card bg-light-grey br3 w-100 pa3 flex items-start grow" >
      <%= link_to 'Purchasing', purchasing_path, class: 'ma0 dark-grey fw6 link db w-100', style: 'height: 100px' %>
    </div>
  </div>
  <div class="w-20 pa3 pt0">
    <div class="card bg-light-grey br3 w-100 pa3 flex items-start grow" >
      <%= link_to 'Facilities module', all_settings_facility_facilities_path, class: 'ma0 dark-grey fw6 link db w-100', style: 'height: 100px' %>
    </div>
  </div>
</div>
