<% content_for :sidebar do %>
  <%= render "layouts/sidebar" %>
<% end %>

<% content_for :breadcrumb do %>
  <%= breadcrumbs "Settings"%>
<% end %>

<div class="w-100 pv3 flex flex-row flex-wrap">
  <div class="w-50 w-30-m w-20-l pa3 pt0">
    <%= link_to "Company Setup", edit_settings_company_company_info_path(id: "my-company"), 
        class: 'h4 orange subtitle-2 link flex justify-center items-center tc bg-white box--br3 box--shadow grow' 
    %>
  </div>

  <div class="w-50 w-30-m w-20-l pa3 pt0">
    <%= link_to "Team Settings", settings_company_team_index_path,
        class: 'h4 orange subtitle-2 link flex justify-center items-center tc bg-white box--br3 box--shadow grow' 
    %>
  </div>
  
  <div class="w-50 w-30-m w-20-l pa3 pt0">
    <%= link_to "General Settings", settings_core_path,
        class: 'h4 orange subtitle-2 link flex justify-center items-center tc bg-white box--br3 box--shadow grow' 
    %>
  </div>

  <div class="w-50 w-30-m w-20-l pa3 pt0">
    <%= link_to "Purchasing", purchasing_path,
        class: 'h4 orange subtitle-2 link flex justify-center items-center tc bg-white box--br3 box--shadow grow'
    %>
  </div>

  <div class="w-50 w-30-m w-20-l pa3 pt0">
    <%= link_to "Facilities module", all_settings_facility_facilities_path,
        class: 'h4 orange subtitle-2 link flex justify-center items-center tc bg-white box--br3 box--shadow grow'
    %>
  </div>

  <% if ENV["ENABLE_DATA_RESET"] == "yes" %>
    <div class="w-50 w-30-m w-20-l pa3 pt0">
      <%= link_to "** WARNING ** Reset data", reset_data_path,
          class: 'h4 orange subtitle-2 link flex justify-center items-center tc bg-white box--br3 box--shadow grow',
          method: :post,
          data: { confirm: 'This will remove all data. Only user account remains. Are you sure?'}
      %>
    </div>
  <% end %>
</div>
