<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Home",root_path], 'Dashboard' %>
<% end %>

<!--
<div class="mh4 mt5 mb4">
  <div className="flex mt4 items-center ">
    <a
      href="<%= root_path %>"
      class="link bl-l bb-l bt-l  pv3 ph4 b--black-10 f6 fw6 gray hover-bg-light-gray bg-white shadow-5"
    >
      Dashboard
    </a>
    <a
      href="<%= employees_path %>"
      class="link bl-l bb-l bt-l  pv3 ph4 b--black-10 f6 fw6 gray hover-bg-light-gray bg-white shadow-5"
    >
      Employees
    </a>
    <a
      href="<%= employees_schedule_path %>"
      class="link bl-l bb-l bt-l  pv3 ph4 b--black-10 f6 fw6 gray hover-bg-light-gray bg-white shadow-5"
    >
      Employee Schedule
    </a>
    <a
      href="<%= timesheets_path %>"
      class="link bl-l bb-l bt-l  pv3 ph4 b--black-10 f6 fw6 gray hover-bg-light-gray bg-white shadow-5"
    >
      Timesheets
    </a>
    <a
      href="<%= requests_path %>"
      class="link bl-l bb-l bt-l  pv3 ph4 b--black-10 f6 fw6 gray hover-bg-light-gray bg-white shadow-5"
    >
      Requests
    </a>
    <a
      href="<%= first_setup_path %>"
      class="link bl-l bb-l bt-l br-l pv3 ph4 b--black-10 f6 fw6 gray hover-bg-light-gray bg-white shadow-5"
    >
      Facility setup
    </a>
  </div>
</div>
-->


<div class="mh4 mt4">
<%if RoleCheck.call(@current_user, Constants::APP_MOD_ALL_HOURS_WORKED).result[:read] == true || 
    RoleCheck.call(@current_user, Constants::APP_MOD_HOURS_ASSIGNED_TO_MY_DIRECT_REPORTS).result[:read] == true %>
  <%= react_component 'people_dashboard/TimesheetApp',
    {
      defaultFacilityId: current_default_facility&.id.to_s,
      currentFacilityId: (params[:facility_id].blank? || params[:facility_id] == "All" ? current_user_facilities_ids.map{|x| x.to_s} : current_facility&.id.to_s)
    }
  %>
<%else%>
  <div class="w-100 bg-white ph3 pt2 pb4">
      <%= render partial: 'layouts/no_permission' %>
  </div>
<%end%>
  
</div>