<% tabStyle = 'link bt-l bb-l br-l pv3 ph4 b--black-10 f6 fw6 gray hover-dark-gray hover-bg-light-gray bg-white' %>
<% selectedStyle = 'link bt-l br-l pv3 ph4 b--black-10 f6 fw6 dark-gray hover-bg-light-gray bg-white' %>
<div class="flex">
  <% if selected == 'nutrients' %>
    <div class="<%= selectedStyle %>">
      Nutrients
    </div>
  <% else %>
    <%= link_to 'Nutrients',
      nutrients_materials_items_path, 
      class: tabStyle %>
  <% end %>

  <% if selected == 'grow_medium' %>
    <div class="<%= selectedStyle %>">
      Grow Medium
    </div>
  <% else %>
    <%= link_to 'Grow Medium',
      grow_medium_materials_items_path,
      class: tabStyle %>
  <% end %>

  <% if selected == 'grow_lights' %>
    <div class="<%= selectedStyle %>">
      Grow Lights
    </div>
  <% else %>
    <%= link_to 'Grow Lights', 
      grow_lights_materials_items_path,
      class: tabStyle %>
  <% end %>

  <% if selected == 'supplements' %>
    <div class="<%= selectedStyle %>">
      Supplements
    </div>
  <% else %>
    <%= link_to 'Supplements',
      supplements_materials_items_path, 
      class: tabStyle %>
  <% end %>

  <% if selected == 'others' %>
    <div class="<%= selectedStyle %>">
      Others
    </div>
  <% else %>
    <%= link_to 'Others',
      others_materials_items_path,
      class: tabStyle %>
  <% end %>
</div>