<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Settings", settings_path], ["Materials", materials_path], "Items" %>
<% end %>

<%= render 'layouts/right_sidebar' %>

<div class="pa4">
  <div class="bg-white box--shadow pa4 fl w-100">
    <div class="fl w-100">


      <div class="ph4 w-100 flex items-center pb3 pt3">
        <div class="w-70">
          <h5 class="tl pa0 ma0 h5--font dark-grey ttc">Items</h5>
        </div>
        <div class="w-30 tr">
          <a href="#0"
            data-toggle-right="<%= new_materials_item_path %>"
            class="link ba bw1 b b--blue blue pa2 ph3 br4 dib"
          >
            + Add New
          </a>
        </div>
      </div>

      <div class="w-100 ph0">
        <table class="collapse ba b--light-grey box--br3 pv2 ph3 f6 mt1 w-100 mt4">

          <tbody>
            <tr class="striped--light-gray">
              <th class="pv2 ph3 subtitle-2 dark-grey tl ttu" width="5%">#</th>
              <th class="pv2 ph3 subtitle-2 dark-grey tl ttu">Name</th>
              <th class="pv2 ph3 subtitle-2 dark-grey tl ttu">Description</th>
            </tr>
            <% @records.try(:each_with_index) do |f, i| %>
              <tr data-toggle-turbolink="<%= materials_item_path(f.id)%>" class="dim pointer striped--light-gray">
                <td class="tl pv2 ph3 w5"><%= i+1 %></td>
                <td class="tl pv2 ph3 w5"><%= blank(f.name) %></td>
                <td class="tl pv2 ph3 w5">
                  <p class="ma0 mb1"><%= f.description %></p>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>