<!DOCTYPE html>
<html>
  <%= render "layouts/head", include_turbolink: true %>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <div class="debug">
        <div class="wizard-form">
          <%= yield %>
        </div>

        <hr/>

        <div class="pv4 ph5 flex flex-row justify-between items-center">
          <%= link_to "Back", root_path, class: "db tr pa2 ttu tracked link dim dark-gray fw6 f5" %>
          <%= link_to "Continue Later", root_path, class: "db tr pa3 bg-green white bn br2 ttu tracked link dim f5 fw6", data: { turbolinks: "false" } %>
        </div>
      </div>
    </div>

    <%= render "layouts/before_body_end" %>

    <script>
      document.addEventListener('turbolinks:load', function() {
        TurbolinksAnimate.init({ animation: 'fadeinright', element: $_('.wizard-form') });
      });
    </script>
  </body>
</html>

