<!DOCTYPE html>
<html>
  <%= render "layouts/head", include_turbolink: true %>
  <body style="">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root" class="bg-light-green">
      <div class="pa4 bg-light-green">
        <div class="bg-white bn br1 flex flex-column justify-between" style="">
          <div class="wizard-form">
            <%= yield %>
          </div>

          <div class="pv4 ph5 flex flex-row justify-between items-center ba bt-1 bb-0 br-0 bl-0 b--black-10">
            <div class="dim flex flex-row items-center pointer">
              <i class="material-icons gray">keyboard_arrow_left</i>
              <%= link_to "Back", root_path, class: "db tr ttu tracked link gray fw6 f5" %>
            </div>

            <div class="flex flex-row items-center">
              <%= link_to "save as draft", root_path, class: "db pa3 tr black ttu tracked link dim f5 fw7" %>
              <%= link_to "Continue Later", root_path, class: "db tr pa3 bg-green white bn br2 ttu tracked link dim f5 fw6", data: { turbolinks: "false" } %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= render "layouts/before_body_end" %>

    <script>
      document.addEventListener('turbolinks:load', function() {
        TurbolinksAnimate.init({ animation: 'fadeinright', element: $_('.wizard-form') });
      });
    </script>
  </body>
</html>

