<!DOCTYPE html>
<html>
  <%= render "layouts/head",
    include_turbolink: true,
    include_sidebar: true,
    include_carousel: true,
    include_popper: true,
    disable_react: true
  %>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <%= render 'toast' %>
      <div class="flex flex-row min-vh-100">
        <%= render 'layouts/sidebar2' %>
        <div id="main" class="main flex flex-column flex-auto" style="padding-left: 230px;">
          <%= flash_messages %>
          <main class="min-vh-100">
            <div style="height: 50px" 
              class="ph4 f6 w-100 bg-white box--shadow-header flex flex-row items-center justify-between"
            >
              <% if content_for? :breadcrumb %>
                <div class="flex items-center">
                  <%= yield :breadcrumb %>
                </div>

                <div class="flex flex-row items-center">
                  <%= react_component 'notification/NotificationApp' %>
                  <div class="ph2">
                    <%= react_component 'utils/Avatar', {
                      firstName: current_user&.first_name,
                      lastName: current_user&.last_name,
                      photoUrl: current_user&.photo_url,
                    }, {
                      tag: 'span'
                    }%> 
                  </div>

                  <% if !current_user.first_name %>
                    <span class="grey subtitle-2"> <%= current_user.email %> </span>
                  <% else %>
                    <span class="ttc grey subtitle-2"> 
                      <%= current_user.first_name %> <%= current_user.last_name %>
                    </span>
                  <% end %>

                  <i onclick="toggleDropdown()" class="material-icons dim grey ml2 pointer" id="toggle-dropdown">keyboard_arrow_down</i>
                  
                  <div class="dropdown">
                    <div id="myDropdown" class="dropdown-content box--shadow-header">
                      <%= link_to 'Edit profile', edit_user_registration_path,
                           class: 'ttc grey subtitle-2 pv3 tc dim' %>
                      <%= link_to "Sign out", destroy_user_session_path, method: :delete, 
                          class: 'grey subtitle-2 pv3 tc dim' %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <%= yield %>
          </main>
        </div>
      </div>
    </div>
    <%= render "layouts/before_body_end" %>
  </body>
</html>

