<!DOCTYPE html>
<html>
  <%= render "layouts/head",
    include_turbolink: true,
    include_sidebar: true,
    include_carousel: true,
    include_popper: true,
    disable_react: true
  %>
  <body>
    <noscript>You need to enable JavaScript to run this app. 430</noscript>
    <div id="root">
      <%= render 'toast' %>
      <div id="main" class="main flex flex-column flex-auto">
        <% if @home.have_company %>
          <%= render 'layouts/sidebar2' %>
          <main class="min-vh-100" style="padding-left: 230px;">
        <% else %>
          <main class="min-vh-100">
        <% end %>
          <%= render "top_nav" %>
          <%= yield %>
        </main>
      </div>
    </div>
    <%= render "layouts/before_body_end" %>
  </body>
</html>
