<div class="pa4 w-80 h-100">
  <%= simple_form_for :record, 
      url: settings_core_unit_of_measures_path, 
      remote: true, 
      method: :post, 
      html: { 
        class: 'vertical-form h-100 flex flex-column justify-between' 
      } do |f|
  %>

    <div class="">
      <div class="mb2">
        <%= f.input :name, label: 'Name',
          label_html: { class: 'w-100 dib f6 fw5 gray' }, 
          input_html: { class: 'w-70 ph2 pv1 gray ba b--black-20 br2 outline-0' } 
        %>
      </div>

      <div class="mb2">
        <%= f.input :code, label: 'Code',
          label_html: { class: 'w-100 dib f6 fw5 gray' }, 
          input_html: { class: 'w-30 ph2 pv1 gray ba b--black-20 br2 outline-0' } 
        %>
      </div>

      <div class="mb2">
        <%= f.input :desc, label: 'Description',
          as: :text,
          label_html: { class: 'w-100 dib f6 fw5 gray' }, 
          input_html: { class: 'w-70 ph2 pv1 gray ba b--black-20 br2 outline-0', rows: 5 } 
        %>
      </div>
    </div>

    <div class="w-100 flex justify-end">
      <%= f.submit "Create", class: "pointer db tc pa3 bg-green white bn br2 ttu tracked link dim f5 fw6" %>
    </div>
  <% end %>
</div>
