<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Settings", settings_path], ["General Settings", settings_core_path], "Unit of Measure" %>
<% end %>

<%= render 'layouts/right_sidebar' %>

<div class="ph4 w-100 flex items-center pb3 pt3">
  <div class="w-70">
    <h2 class="pa0 ma0">Unit of Measure</h2>
  </div>
  <div class="w-30 tr">
    <a href="#0" data-toggle-right="<%= new_settings_core_unit_of_measure_path %>" class='link ba bw1 b b--blue blue pa2 ph3 br4 dib'>
      + Add New
    </a>
  </div>
</div>

<div class="w-100 ph0">
  <table class="w-100 table collapse">
    <thead>
      <tr>
        <th class="f6 white pv3 tl pl4 pr3">#</th>
        <th class="f6 white pv3 tl w-20">Name</th>
        <th class="f6 white pv3 tl w-10">Code</th>
        <th class="f6 white pv3 tl w-20">Description</th>
        <th class="f6 white pv3 tl w-20">Base UOM</th>
        <th class="f6 white pv3 tl w-20">Base Unit</th>
        <th class="f6 white pv3 tl w-20">Conversion</th>

      </tr>
    </thead>

    <tbody>
      <% @list.each_with_index do |f, i| %>
        <tr data-toggle-right="<%= edit_settings_core_unit_of_measure_path(f.id)%>" class="pointer">
          <td class="f6 tl pl4 pr3 gray"><%= i+1 %></td>
          <td class="f6 tl"><%= blank(f.name) %></td>
          <td class="f6 tl"><%= blank(f.code) %></td>
          <td class="f6 tl">
            <p class="ma0 mb1"><%= f.desc %></p>
          </td>
          <td class="f6 tl"><%= blank(f.base_uom) %></td>
          <td class="f6 tl"><%= blank(f.base_unit) %></td>
          <td class="f6 tl"><%= blank(f.conversion) %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
