<%= form_for(resource,
              as: resource_name,
              url: session_path(resource_name),
              html: { class: "bg-white flex flex-column justify-center items-center pa3 ba br3 b--orange mb4" }) do |f| %>

  <%= image_tag "logo.svg", class: "mt2 mb4" %>

  <div class="w5">
    <div class="mb2">
      <%= f.label :email, class: "subtitle-2 dark-grey db mb1" %>
      <%= f.email_field :email,
        autofocus: true,
        autocomplete: "email",
        class: "grey subtitle-2-regular pa2 ba b--light-grey box--br3 w-100 outline-0" %>
    </div>

    <div class="mb2">
      <%= f.label :password, class: "subtitle-2 dark-grey db mb1"  %>
      <%= f.password_field :password,
        autocomplete: "off",
        class: "grey subtitle-2-regular pa2 ba b--light-grey box--br3 w-100 outline-0" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="mb4">
        <%= f.check_box :remember_me, class: "mr2" %>
        <%= f.label :remember_me, class: "grey subtitle-2-regular" %>
      </div>
    <% end -%>
  </div>

  <div class="actions w-100 mh2">
    <%= f.submit "Log in", class: "ttu button--font white link dim bg-orange bn box--br3 ph2 pv3 dib w-100 pointer" %>
  </div>

  <%= link_to "Forgot your password?", new_user_password_url, class: "db mt4 orange button--font dim" %> 
<% end %>

