<%= form_for(resource,
              as: resource_name,
              url: session_path(resource_name),
              html: { class: "flex flex-column justify-center items-center bg-black-80 pa4 br2" }) do |f| %>

  <%= image_tag "logo.jpg" %>

  <div class="pt3 w5">
    <div class="mv2">
      <%= f.label :email, class: "f5 white-80 db mb1" %>
      <%= f.email_field :email,
        autofocus: true,
        autocomplete: "email",
        class: "bg-transparent white pv1 ph2 ba b--white br2 w-100" %>
    </div>

    <div class="mv2">
      <%= f.label :password, class: "f5 white-80 db mb1"  %>
      <%= f.password_field :password,
        autocomplete: "off",
        class: "bg-transparent white pv1 ph2 ba b--white br2 w-100" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="mt2 mb3">
        <%= f.check_box :remember_me, class: "" %>
        <%= f.label :remember_me, class: "white-80 f6" %>
      </div>
    <% end -%>
  </div>

  <div class="actions w-100 mh2">
    <%= f.submit "Log in", class: "f6 link dim br-pill ph3 pv2 mb2 dib white bg-transparent w-100" %>
  </div>

  <%= link_to "Forgot your password?", new_user_password_url, class: "mt3 f7 white-60" %> 
<% end %>

