<% selectedStyle = 'scrollable-tab__tab scrollable-tab__tab--active' %>

<div class="scrollable-tab">
  <% if selected == 'mother' %>
    <div class="<%= selectedStyle %>">
      Mother Plants
    </div>
  <% else %>
    <%= link_to 'Mother Plants',
      mothers_inventory_plants_path(facility_id: params[:facility_id]), 
      class: 'scrollable-tab__tab' %>
  <% end %>

  <% if selected == 'cultivation_batch' %>
    <div class="<%= selectedStyle %>">
      Cultivation Batches
    </div>
  <% else %>
    <%= link_to 'Cultivation Batches', 
      cultivation_batches_inventory_plants_path(facility_id: params[:facility_id]), 
      class: 'scrollable-tab__tab' %>
  <% end %>

  <% if selected == 'clone' %>
    <div class="<%= selectedStyle %>">
      Clones / Plantings
    </div>
  <% else %>
    <%= link_to 'Clones/ Plantings',
      clones_inventory_plants_path(facility_id: params[:facility_id]), 
      class: 'scrollable-tab__tab' %>
  <% end %>

  <% if selected == 'veg' %>
    <div class="<%= selectedStyle %>">
      Vegs
    </div>
  <% else %>
    <%= link_to 'Veg',
      vegs_inventory_plants_path(facility_id: params[:facility_id]), 
      class: 'scrollable-tab__tab' %>
  <% end %>

  <% if selected == 'flower' %>
    <div class="<%= selectedStyle %>">
      Flowers
    </div>
  <% else %>
    <%= link_to 'Flower',
      flowers_inventory_plants_path(facility_id: params[:facility_id]), 
      class: 'scrollable-tab__tab' %>
  <% end %>

  <% if selected == 'harvest_batch' %>
    <div class="<%= selectedStyle %>">
      Harvest Batches
    </div>
  <% else %>
    <%= link_to 'Harvest Batches',
      harvest_batches_inventory_plants_path(facility_id: params[:facility_id]), 
      class: 'scrollable-tab__tab' %>
  <% end %>
</div>