<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Home",root_path], 
      ['Inventory Setup', inventory_setup_path], 
      'Active Plant Inventory',
      'Veg' 
  %>
<% end %>


<div class="pa4">
  <%= react_component('inventory/plant_setup/plant_charts/PlantWidgetApp', facility_id: params[:facility_id])%>
  <%= render partial: 'setupNavigation', locals: { selected: 'veg' } %>
  <div class="flex flex-column">
    <%= react_component('inventory/plant_setup/VegSetupApp', {
        cultivation_batches: @cultivation_batches,
        scanditLicense: @scanditLicense,
        facility_id: params[:facility_id]
      }) %>
    <div class="w-100 bg-white ph3 pt2 pb4">
      <div class="dim flex flex-row items-center pointer">
        <i class="material-icons md-light-gray">keyboard_arrow_left</i>
        <%= link_to "Back", inventory_setup_path, class: "db tr ttu link button--font light-grey" %>
      </div>  
    </div>
  </div>
</div>
