<% content_for :breadcrumb do %>
  Settings &gt; Facilities &gt; Rooms
<% end %>


<div class="ph4 w-100 pb4 tr">
  <%= link_to "Add room", new_settings_facility_room_path, class: 'link ba bw1 b b--blue blue pa2 ph4 br4' %>
</div>

<div class="w-100 ph0">
  <table class="w-100 table collapse">
    <thead>
      <tr>
        <th class="f6 white pv3 tl pl4 pr3">#</th>
        <th class="f6 white pv3 tl w-10">Code</th>
        <th class="f6 white pv3 tl w-20">Name</th>
        <th class="f6 white pv3 tl w-40">Description</th>
        <th class="f6 white pv3 tr w-20 pr4">Status</th>
        
      </tr>
    </thead>

    <tbody>
      <% @rooms.each_with_index do |f, i| %>
        <tr>
          <td class="f6 tl pl4 pr3 gray"><%= i+1 %></td>
          <td class="f6 tl"><%= link_to f.code, '', class: 'link blue' %></td>
          <td class="f6 tl"><%= f.name %></td>
          <td class="f6 tl">
            <p class="ma0 mb1"><%= f.description %></p>
          </td>
          <td class="f6 tr pr4">
            <% status = if !f.is_complete 
                        "Continue setup"
                      elsif f.is_enabled
                        "active"
                      else
                        "disabled"
                      end
            %>
            <span class="<%=status %> status-bullet ba b bw1 b--blue blue pa1 ph2 br4 f7"><%= status %></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>