<div class="ph4 pv3 bb b--light-grey">
  <h5 class="h6--font dark-grey ma0 ttc"><%= @record.label %></h5>
</div>

<%= simple_form_for :record, 
    url: settings_core_raw_material_path(@record), 
    remote: true, 
    method: :put,
    wrapper: false,
    html: { 
      class: 'h-100 flex flex-column justify-between' 
    } do |f|
%>

  <div class="pa4">
    <div class="fl w-100 pt0-l pt3 flex flex-column mb3">
      <div class="flex flex-row">
        <%= f.input :label, label: 'Category Name',
            label_html: { class: 'f6 fw6 db mb1 mr2 gray ttc' }, 
            input_html: { class: 'db w-70 pa2 f6 black ba b--black-20 br2 outline-0' } 
        %>
      </div>
    </div>
    
    <div class="fl w-100 pt0-l pt3 flex flex-column">
      <%= render "subcategory", k: f%>
    </div>

  </div>

  <div class="bt b--light-grey pv3 ph4">
    <%= f.submit "Update", class: "fr pa3 bg-orange button--font white bn box--br3 ttu link dim pointer" %>
  </div>

<% end %>
