<% if @rooms_info_form.wz_room_count == 0 %>
  <span class="f6 fw6 mid-gray dib fl">Room Details</span>
  <div class="ml6 dib fl">
    <label class="f6 fw5 mb2 gray db">How many number of rooms in total?</label>
    <%= select_tag :rooms_count,
      options_for_select(["",*1..25], @rooms_info_form.wz_room_count),
      data: {
        remote: true,
        url: generate_rooms_path(
          facility_id: @rooms_info_form.facility_id,
          mode: 'new'),
        method: :post
      },
      class: "gray br2 ba b--black-20 outline-0 w4"
    %>
  </div>
<% else %>
  <div class="carousel">
    <div class="carousel__button carousel__button--left"></div>
    <div class="carousel__body siema">
      <% rooms.each do |room| %>
        <div class="f6 fw6 carousel__card relative">
          <div class="pa1">
            <%= link_to destroy_room_path(facility_id: room.facility_id, room_id: room.id),
              remote: true, method: :post,
              data: {
                confirm: "Are you sure?"
              } do
            %>
              <i class="material-icons gray f6 dim pointer">delete</i>
            <% end %>

            <div class="fr">
              <i class="material-icons green f6 dim">info</i>
            </div>
          </div>

          <div class="w-100 ph2 flex flex-column">
            <div class="flex flex-column items-center">
              <img src="http://tachyons.io/img/logo.jpg" class="br-100 ba h3 w3 dib center mb2" >
              <span class="mid-gray f6 fw6"><%= room.name %></span>
              <span class="gray f7">Capacity: N/A</span>
            </div>

            <div class="pa1">
              <div class="flex flex-row">
                <div class="flex flex-row w-50 tl pr1">
                  <i class="material-icons gray f7">radio_button_unchecked</i>
                  <div class="flex flex-column w-100 ml2">
                    <span class="mid-gray f6 fw6">N/A</span>
                    <span class="gray f7">Sections</span>
                  </div>
                </div>

                <div class="flex flex-row w-50 tl pl1">
                  <i class="material-icons gray f7">radio_button_unchecked</i>
                  <div class="flex flex-column w-100 ml2">
                    <span class="mid-gray f6 fw6">N/A</span>
                    <span class="gray f7">Rows</span>
                  </div>
                </div>
              </div>

              <div class="flex flex-row mt2">
                <div class="flex flex-row w-50 tl pr1">
                  <i class="material-icons gray f7">radio_button_unchecked</i>
                  <div class="flex flex-column w-100 ml2">
                    <span class="mid-gray f6 fw6">N/A</span>
                    <span class="gray f7">Shelves</span>
                  </div>
                </div>

                <div class="flex flex-row w-50 tl pl1">
                  <i class="material-icons gray f7">radio_button_unchecked</i>
                  <div class="flex flex-column w-100 ml2">
                    <span class="mid-gray f6 fw6">N/A</span>
                    <span class="gray f7">Trays</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <%= link_to "Set up room",
            fetch_room_info_path(
              facility_id: room.facility_id,
              room_id: room.id,
              room_name: room.name,
              room_code: room.code,
            ), remote: true, 
            class: "absolute bg-orange bottom-0 w-100 ttu link flex f6 fw6 white justify-center w-100 pv2"
          %>
        </div>
      <% end %>
      <% unless rooms.blank? %>
        <div class="carousel__card carousel__card--add">
          <%= link_to generate_rooms_path(facility_id: facility_id, rooms_count: rooms.size + 1, mode: 'increment'), 
              remote: true, method: :post, class: "dim link" do %>
              <i class="material-icons md-48 green">add_circle</i>
          <%end%>
        </div>
      <% end %>
    </div>
    <div class="carousel__button carousel__button--right"></div>
  </div>
<% end %>

