<div class="ph4 pv3 bb b--light-gray">
  <h1 class="f4 fw5 ma0"><%= room.name %> Setup</h1>
</div>

<div class="db ph4 pv3 measure">
  <%= form_with scope: :room_info, url: facility_setup_update_room_info_path do |f| %>
    <%= f.hidden_field :id, value: room.id %>
    <%= f.hidden_field :facility_id, value: room.facility_id %>
    
    <div class="mb3">
      <%= f.label "Room Name", class:"f6 fw5 db mb1 gray ttc" %>
      <%= f.text_field :name, value: room.name, class: "db w-70 pa2 f6 gray ba b--black-20 br2 outline-0" %>
    </div>

    <div class="mb3">
      <span class="f6 fw5 db mb1 gray ttc">Room ID</span>
      <%= f.text_field :code, value: room.code, class: "db w-30 pa2 f6 gray ba b--black-20 br2 outline-0" %>
    </div>

    <div class="mb3">
      <%= f.label "Description", class:"f6 fw5 db mb1 gray ttc" %>
      <%= f.text_area :desc, value: room.desc, class: "db w-90 pa2 f6 gray ba b--black-20 br2 outline-0" %>
    </div>

    <div class="mb3">
      <%= f.label "Purpose of Room", class:"f6 fw5 db mb1 gray ttc" %>
      <%= f.select :purpose,
        options_for_select(
          Constants::ROOM_PURPOSE.collect {|p| [ p[:name], p[:code]]}, room.purpose,) 
      %> 
    </div>

    <div class="w-100">
      <div>
        <p> Is the room split into one or  more sections? </p>
        <p> Quick tip: Will you... </p>
      </div>

      <%= f.check_box :has_sections, checked: room.has_sections, class: "toggle toggle-default" %>
      <label class="toggle-button" for="room_info_has_sections"></label>
    </div>

    <div class="pa3 absolute right-0 bottom-0">
      <%= f.submit "Save Changes", class: "b ph3 pv2 ba b--black grow pointer f6 mr2" %>
      <%= link_to "Next > Setup Row", facility_setup_room_summary_path, class: "link b ph3 pv2 ba b--black grow pointer f6 dib ml3" %>
    </div>
  <% end %>
</div>
