<div class="db pa3 measure">
  <%= form_with scope: :room_info, url: facility_setup_update_room_info_path do |f| %>
    <%= f.hidden_field :id, value: room.id %>
    <%= f.hidden_field :facility_id, value: room.facility_id %>
    <div>
      <%= f.label "Room Name", class:"f6 w-100 db" %>
      <%= f.text_field :name, value: room.name, class: "f6 w-100 db" %>
    </div>
    <div>
      <%= f.label "Room ID", class:"f6 w-100  db" %>
      <%= f.text_field :code, value: room.code, class: "f6 w-100 db" %>
    </div>
    <div>
      <%= f.label "Description", class:"f6 w-100 db" %>
      <%= f.text_area :desc, value: room.desc, class: "f6 w-100 db" %>
    </div>
    <div>
      <%= f.label "Purpose of Room", class:"f6 w-100 db" %>
      <%= f.select :purpose, options_for_select(Constants::ROOM_PURPOSE.collect {|p| [ p[:name], p[:code]]}, room.purpose) %> 
    </div>
    <div class="w-100">
      <div>
        <p> Is the room split into one or  more sections? </p>
        <p> Quick tip: Will you... </p>
      </div>
      <%= f.check_box :has_sections, checked: room.has_sections, class: "toggle toggle-default" %>
      <label class="toggle-button" for="room_info_has_sections"></label>
    </div>
    <div class="pa3 absolute right-0 bottom-0">
      <%= f.submit "Save & Continue", class: "b ph3 pv2 ba b--black grow pointer f6" %>
    </div>
  <% end %>
</div>
