<% if @rooms_info_form.wz_room_count == 0 %>
  <span class="grey subtitle-2 dib fl">Room Details</span>
  <div class="ml6 dib fl">
    <label class="mb2 grey subtitle-2 db">How many number of rooms in total?</label>
    <%= select_tag :rooms_count,
      options_for_select(["",*1..25], @rooms_info_form.wz_room_count),
      data: {
        remote: true,
        url: generate_rooms_path(
          facility_id: @rooms_info_form.facility_id,
          mode: 'new'),
        method: :post
      },
      class: "grey box--br3 ba b--light-grey outline-0 w-80 box--height"
    %>
  </div>
<% else %>
  <div class="carousel">
    <div class="carousel__button carousel__button--left pointer dim flex items-center justify-center">
      <i class="material-icons md-light fw6">keyboard_arrow_left</i>
    </div>

    <div class="carousel__body siema">
      <% rooms.each do |room| %>
        <div class="carousel__card relative b--light-grey box--br3 ba pa2 flex flex-column justify-between">
          <div>
            <div class="">
              <%= link_to destroy_room_path(facility_id: room.facility_id, room_id: room.id),
                remote: true, method: :post,
                data: {
                  confirm: "Are you sure?"
                } do
              %>
                <i class="material-icons grey dim pointer" style="opacity: 0.3;">delete</i>
              <% end %>
              <div class="fr">
                <i class="material-icons <%= room.is_complete ? "green" : "yellow" %> f6 dim" style="opacity: 0.3;">info</i>
              </div>
            </div>

            <div class="w-100 pb2 flex flex-column">
              <div class="flex flex-column items-center mb2">
                <%= image_tag 'room-icon.svg', class: "h3 w3 dib center" %>
                <span class="h6--font dark-grey"><%= room.name %></span>
                <span class="grey body-1 ttu">
                  <%= room.purpose %>
                  <% if room.capacity > 0 %>
                    (<%= room.capacity_text %>)
                  <% end %>
                </span>
              </div>
              <% unless room.wz_generated %>
                <div class="flex flex-column justify-between ph1">
                  <div class="flex flex-row">
                    <div class="flex flex-row items-center w-50 tl">
                      <i class="material-icons md-16 grey">view_quilt</i>
                      <div class="flex flex-column w-100 ml2">
                        <span class="subtitle-2 dark-grey"><%= room.sections_count_text %></span>
                        <span class="grey caption" style="line-height: 1;">Sections</span>
                      </div>
                    </div>

                    <div class="flex flex-row items-center w-50 tl pl3">
                      <i class="material-icons md-16 grey">view_list</i>
                      <div class="flex flex-column w-100 ml2">
                        <span class="subtitle-2 dark-grey"><%= room.rows_count_text %></span>
                        <span class="grey caption" style="line-height: 1;">Rows</span>
                      </div>
                    </div>
                  </div>

                  <div class="flex flex-row items-center mt2">
                    <div class="flex flex-row items-center w-50 tl">
                      <i class="material-icons md-16 grey">view_carousel</i>
                      <div class="flex flex-column w-100 ml2">
                        <span class="subtitle-2 dark-grey"><%= room.shelves_count_text %></span>
                        <span class="grey caption" style="line-height: 1;">Shelves</span>
                      </div>
                    </div>

                    <div class="flex flex-row items-center w-50 tl pl3">
                      <i class="material-icons md-16 grey">view_list</i>
                      <div class="flex flex-column w-100 ml2">
                        <span class="subtitle-2 dark-grey"><%= room.trays_count_text %></span>
                        <span class="grey caption" style="line-height: 1;">Trays</span>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

          <% if !room.wz_generated %>
            <div>
              <%= link_to "Edit Room",
                fetch_room_info_path(
                  facility_id: room.facility_id,
                  room_id: room.id,
                  room_name: room.name,
                  room_code: room.code,
                ), remote: true,
                style: "height: 38px",
                class: "w-100 box--br3 mb1 ttu link f6 fw6 ba b--light-grey orange dim flex justify-center items-center"
              %>
              <%= link_to "Setup Rows & Shelves",
                facility_setup_row_shelf_info_path(
                  facility_id: room.facility_id,
                  room_id: room.id,
                ),
                style: "height: 38px",
                class: "tc w-100 bg-orange bn box--br3 ttu link f6 fw6 white dim flex justify-center items-center"
              %>
            </div>
          <% else %>
            <%= link_to "Edit Room",
              fetch_room_info_path(
                facility_id: room.facility_id,
                room_id: room.id,
                room_name: room.name,
                room_code: room.code,
            ), remote: true,
               style: "height: 38px",
               class: "w-100 box--br3 mb1 ttu link f6 fw6 ba b--light-grey orange dim flex justify-center items-center"
            %>
          <% end %>
        </div>
      <% end %>
      <% unless rooms.blank? %>
        <div class="carousel__card carousel__card--add flex flex-column items-center justify-center a2 box--br3 box--shadow b--dashed b--light-grey">
          <%= link_to generate_rooms_path(facility_id: facility_id, rooms_count: rooms.size + 1, mode: 'increment'), 
              remote: true, method: :post, class: "dim link tc w-90" do %>
              <i class="material-icons md-48 mb3 orange">add_circle_outline</i>
              <div class="carousel__main_button">add a new room</div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="carousel__button carousel__button--right pointer dim flex items-center justify-center">
      <i class="material-icons md-light fw6">keyboard_arrow_right</i>
    </div>
  </div>
<% end %>

