<% if @rooms_info_form.wz_room_count == 0 %>
  <span class="grey subtitle-2 dib fl">Room Details</span>
  <div class="ml6 dib fl">
    <label class="mb2 grey subtitle-2 db">How many number of rooms in total?</label>
    <%= select_tag :rooms_count,
      options_for_select(["",*1..25], @rooms_info_form.wz_room_count),
      data: {
        remote: true,
        url: generate_rooms_path(
          facility_id: @rooms_info_form.facility_id,
          mode: 'new'),
        method: :post
      },
      class: "grey box--br3 ba b--light-grey outline-0 w-80 box--height"
    %>
  </div>
<% else %>
  <div class="carousel">
    <div class="carousel__button carousel__button--left pointer dim flex items-center justify-center">
      <i class="material-icons md-light fw6">keyboard_arrow_left</i>
    </div>

    <div class="carousel__body siema">
      <% rooms.each do |room| %>
        <div class="carousel__card relative b--light-grey box--br3 ba">
          <div class="ph2 pt2 pb0">
            <%= link_to destroy_room_path(facility_id: room.facility_id, room_id: room.id),
              remote: true, method: :post,
              data: {
                confirm: "Are you sure?"
              } do
            %>
              <i class="material-icons grey f6 dim pointer">delete</i>
            <% end %>
            <div class="fr">
              <i class="material-icons orange f6 dim">info</i>
            </div>
          </div>

          <div class="w-100 ph2 pv3 flex flex-column">
            <div class="flex flex-column items-center mv3">
              <%= image_tag 'room-icon.svg', class: "h3 w3 dib center mb2" %>
              <span class="h6--font dark-grey"><%= room.name %></span>
              <span class="grey body-1">Capacity: <%= room.capacity_text %></span>
            </div>

            <div class="flex flex-column justify-between">
              <div class="flex flex-row">
                <div class="flex flex-row items-center w-50 tl pr1">
                  <i class="material-icons grey f7">radio_button_unchecked</i>
                  <div class="flex flex-column w-100 ml2">
                    <span class="subtitle-2 dark-grey">--</span>
                    <span class="grey caption">Sections</span>
                  </div>
                </div>

                <div class="flex flex-row items-center w-50 tl pl1">
                  <i class="material-icons grey f7">radio_button_unchecked</i>
                  <div class="flex flex-column w-100 ml2">
                    <span class="subtitle-2 dark-grey">--</span>
                    <span class="grey caption">Rows</span>
                  </div>
                </div>
              </div>

              <div class="flex flex-row mt3">
                <div class="flex flex-row items-center w-50 tl pr1">
                  <i class="material-icons grey f7">radio_button_unchecked</i>
                  <div class="flex flex-column w-100 ml2">
                    <span class="subtitle-2 dark-grey">--</span>
                    <span class="grey caption">Shelves</span>
                  </div>
                </div>

                <div class="flex flex-row items-center w-50 tl pl1">
                  <i class="material-icons grey f7">radio_button_unchecked</i>
                  <div class="flex flex-column w-100 ml2">
                    <span class="subtitle-2 dark-grey">--</span>
                    <span class="grey caption">Trays</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <%= link_to "Set up room",
            fetch_room_info_path(
              facility_id: room.facility_id,
              room_id: room.id,
              room_name: room.name,
              room_code: room.code,
            ), remote: true,
            style: "height: 46px",
            class: "w-100 absolute bottom-0 bg-orange tc ttu link button white dim flex justify-center items-center"
          %>
        </div>
      <% end %>
      <% unless rooms.blank? %>
        <div class="carousel__card carousel__card--add flex flex-column items-center justify-center a2 box--br3 box--shadow b--dashed b--light-grey">
          <%= image_tag 'room-icon.svg', class: "h3 w3 dib center mb2" %>
          <%= link_to generate_rooms_path(facility_id: facility_id, rooms_count: rooms.size + 1, mode: 'increment'), 
              remote: true, method: :post, class: "dim link" do %>
              <div class="button white bg-orange ttu pv2 ph3">add a new room</div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="carousel__button carousel__button--right pointer dim flex items-center justify-center">
      <i class="material-icons md-light fw6">keyboard_arrow_right</i>
    </div>
  </div>
<% end %>

