<% if @rows_form.has_sections %>
  <%# HAS SECTIONS %>
  <% @rows_form.sections.each do |section| %>
    <div class="carousel-group">
      <div class="bb b--black-20 pb2 carousel-group__header">
        <%= link_to destroy_section_path(
            facility_id: @rows_form.facility_id,
            room_id: @rows_form.room_id,
            section_id: section.id),
            remote: true,
            method: :post,
            class: "link lh-copy ml2 fw6 orange dim",
            data: { confirm: "Delete Section?" } do %>
          <i class="material-icons grey dim pointer fl">delete_outline</i>
        <% end %>
        <span class="lh-copy ml2 grey fw6">Section <%= section.name || section.code %></span>
        <span class="lh-copy ml2 grey fw6 fr mt1">Edit Section</span>
      </div>
      <div class="mt2 ba b--dashed b--black-20 pv2 carousel-group__body">
        <%= render partial: "rows_carousel", locals: {
            facility_id: @rows_form.facility_id,
            room_id: @rows_form.room_id,
            rows: @rows_form.get_rows(section.id),
            section_id: section.id,
            show_add_on_empty: true
        } %>
      </div>
    </div>
  <% end %>
  <div class="mt2">
    <%= link_to add_section_path(
        facility_id: @rows_form.facility_id,
        room_id: @rows_form.room_id),
        remote: true,
        method: :post,
        class: "link lh-copy ml2 fw6 orange dim" do %>
      <i class="material-icons orange pointer fl">add_circle_outline</i>
      Add a new Section
    <% end %>
  </div>
<% else %>
  <%# NO SECTIONS %>
  <% if @rows_form.has_rows %>
    <%= render partial: "rows_carousel", locals: {
      facility_id: @rows_form.facility_id,
      room_id: @rows_form.room_id,
      section_id: nil,
      rows: @rows_form.get_rows
    } %>
  <% else %>
    <span class="grey subtitle-2 dib fl">Row Details</span>
    <div class="ml6 dib fl">
      <label class="f6 fw5 db mb1 gray">How many number of rows in total?</label>
      <%= select_tag :rows_count,
        options_for_select(["",*1..25], @rows_form.wz_rows_count),
        data: {
          remote: true,
          url: generate_rows_path(
            facility_id: facility_id,
            room_id: room_id,
            mode: 'new'),
          method: :post
        },
        class: "grey br3--box ba b--light-grey outline-0 w-80 height--dropdown"
      %>
    </div>
  <% end %>
<% end %>

