<% if @rows_form.has_sections %>
  <%# HAS SECTIONS %>
  <% @rows_form.sections.each do |section| %>
    <div class="carousel-group <%= "carousel-group--empty" unless @rows_form.has_rows(section.id) %>">
      <div class="bb b--light-grey pb2 carousel-group__header flex flex-row items-center justify-between">
        <div class="flex flex-row items-center">
          <%= link_to destroy_section_path(
              facility_id: @rows_form.facility_id,
              room_id: @rows_form.room_id,
              section_id: section.id),
              remote: true,
              method: :post,
              class: "link orange dim",
              data: { confirm: "Delete Section?" } do %>
            <i class="material-icons grey md-16 dim pointer">remove_circle_outline</i>
          <% end %>
          <span class="subtitle-2 ml2 grey">Section <%= section.name || section.code %></span>
        </div>

        <div class="flex flex-row items-center">
          <i class="material-icons md-16 grey mr2">create</i>
          <span class="subtitle-2 grey">Edit Section</span>
          <input id="cb-<%= section.id %>" type="checkbox" role="toggle" data-toggle="<%= section.id %>" />
          <label for="cb-<%= section.id %>" class="material-icons md-16 grey ml3 dim pointer toggle-collapse-icon">
            keyboard_arrow_down
          </label>
        </div>
      </div>

      <div class="carousel-group__body toggle-collapse-body" data-collapse="<%= section.id %>">
        <%= render partial: "rows_carousel", locals: {
            facility_id: @rows_form.facility_id,
            room_id: @rows_form.room_id,
            rows: @rows_form.get_rows(section.id),
            section_id: section.id,
            show_add_on_empty: true
        } %>
      </div>
    </div>
  <% end %>

  <div class="mt2">
    <%= link_to add_section_path(
        facility_id: @rows_form.facility_id,
        room_id: @rows_form.room_id),
        remote: true,
        method: :post,
        class: "link orange" do %>
      
      <div class="flex flex-row items-center dim">
        <i class="material-icons pointer mr2">add_circle_outline</i>
        <span class="subtitle-2 ">Add a new Section</span>
      </div>
    <% end %>
  </div>
<% else %>
  <%# NO SECTIONS %>
  <% if @rows_form.has_rows %>
    <%= render partial: "rows_carousel", locals: {
      facility_id: @rows_form.facility_id,
      room_id: @rows_form.room_id,
      section_id: nil,
      rows: @rows_form.get_rows
    } %>
  <% else %>
    <span class="grey subtitle-2 dib fl">Row Details</span>
    <div class="ml6 dib fl">
      <label class="mb2 grey subtitle-2 db">How many number of rows in total?</label>
      <%= select_tag :rows_count,
        options_for_select(["",*1..25], @rows_form.wz_rows_count),
        data: {
          remote: true,
          url: generate_rows_path(
            facility_id: facility_id,
            room_id: room_id,
            mode: 'new'),
          method: :post
        },
        class: "grey box--br3 ba b--light-grey outline-0 w-80 height--dropdown"
      %>
    </div>
  <% end %>
<% end %>
