<div class="ph4 pv3 bb b--light-gray">
  <h1 class="f4 fw5 ma0">Row & Shelf Details</h1>
</div>

<div class="db ph4 pv3 measure">
  <%= form_with scope: :row_info, url: facility_setup_update_row_info_path do |f| %>
    <%= f.hidden_field :facility_id, value: row.facility_id %>
    <%= f.hidden_field :room_id, value: row.room_id %>
    <%= f.hidden_field :id, value: row.id %>

    <div class="mb3">
      <%= f.label "row Name", class:"f6 fw5 db mb1 gray ttc" %>
      <%= f.text_field :name, value: row.name, class: "db w-70 pa2 f6 gray ba b--black-20 br2 outline-0" %>
    </div>

    <div class="mb3">
      <span class="f6 fw5 db mb1 gray ttc">row ID</span>
      <%= f.text_field :code, value: row.code, class: "db w-30 pa2 f6 gray ba b--black-20 br2 outline-0" %>
    </div>

    <div class="mt4">
      <span class="f5 fw5">Does the row have multiple levels?</span>
      <p class="gray f6 lh-copy mt1 w-90">
               If toggle is not selected, then that means that there is no trays that exists on the shelf.

      </p>

      <div class="flex justify-end w-90">
        <%= f.check_box :has_shelves,
          checked: row.has_shelves,
          class: "toggle toggle-default",
          data: { toggle: 'shelves_number_options' }
        %>
        <label class="toggle-button" for="row_info_has_shelves"></label>
      </div>
    </div>

    <div class="w-100 shelves_number_options" style="display: none">
      <div class="mt3">
        <%= f.label :shelves_count,
          title: "How many trays per shelf?",
          class: "f6 fw5 db gray"
        %>

        <%= f.select :shelves_count,
          options_for_select([*1..5], row.wz_shelves_count),
          {},
          {
            class: "w-40 mt2 gray br2 ba b--black-20 outline-0"
          }
        %>
      </div>
    </div>

    <div class="mt4">
      <span class="f5 fw5">Do you use trays?</span>
      <p class="gray f6 lh-copy mt1 w-90">
        If toggle is not selected, then that means that there is no trays that exists on the shelf.
      </p>
      <div class="flex justify-end w-90">
        <%= f.check_box :has_trays,
          checked: row.has_trays,
          class: "toggle toggle-default",
          data: { toggle: 'trays_number_options' }
        %>
        <label class="toggle-button" for="row_info_has_trays"></label>
      </div>
    </div>

    <div class="w-100 trays_number_options" style="display: none">
      <div class="mt3">
        <%= f.label :trays_count,
          title: "How many trays per shelf?",
          class: "f6 fw5 db gray"
        %>

        <%= f.select :trays_count,
          options_for_select(["", *1..10], row.wz_trays_count),
          {},
          {
            class: "w-40 mt2 gray br2 ba b--black-20 outline-0"
          }
        %>
      </div>
    </div>

    <div class="w-100 pa4 bt b--black-10 absolute right-0 bottom-0 flex items-center justify-between">
      <%= f.submit "Save Changes", class: "db pv2 bg-white bn ttu tracked link dim f6 fw7 green pointer" %>
    </div>
  <% end %>
</div>
