<div class="carousel">
  <div class="carousel__button carousel__button--left dim">
    <i class="material-icons md-light fw6">keyboard_arrow_left</i>
  </div>

  <div class="carousel__body siema">
    <% rows.each do |row| %>
      <div class="carousel__card carousel__card--<%= row.id %> relative b--light-grey box--br3 ba">
        <%= render partial: "row_card_body", locals: { row: row } %>
      </div>
    <% end %>
    <% if rows.any? || show_add_on_empty %>
      <div class="carousel__card carousel__card--add <%= "carousel__card--center" if rows.blank? %> flex flex-column">
        <%= image_tag 'row-icon.svg', class: "h3 w3 dib center mb2" %>
        <%= link_to generate_rows_path(
          facility_id: facility_id,
          room_id: room_id,
          section_id: section_id,
          rows_count: rows.size + 1,
          mode: 'increment'
        ),
          remote: true,
          method: :post,
          class: "dim link" do %>
          <span class="carousel__secondary_button">Add a new row</span>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="carousel__button carousel__button--right dim">
    <i class="material-icons md-light fw6">keyboard_arrow_right</i>
  </div>
</div>

