<h1>New Facility Setup page</h1>

<%= form_for @form_object, url: facility_setup_create_path do |f| %>
  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
