<% content_for :breadcrumb do %>
  <div class="flex itmes-center">
    <%= breadcrumbs ["Home",root_path], 
        ["Facility Setup", facility_setup_new_path(facility_id: @room_summary_form.facility_id)], 
        ["Room Setup", facility_setup_rooms_info_path(facility_id: @room_summary_form.facility_id)]
    %>
  </div>
<% end %>

<div class="pa4">
  <div class="flex flex-column justify-between bg-white box--shadow">
    <div class="pa4 min-h-600">
      <div class="fl w-70-l w-100 flex flex-column width-100">
        <div class="flex flex-row items-center">
          <h5 class="tl pa0 ma0 h5--font dark-grey">Great job so far, User!</h5>
          <i class="material-icons md-24 orange ml3">thumb_up</i>
        </div>

        <p class="mt2 body-1 grey">
          Boom, you just set up the room! Now let's configure your <%= @room_summary_form.purpose %> room by adding rows and shelves.
        </p>

        <div class="w-100 pv4">
          <%= link_to "get started", facility_setup_row_shelf_info_path(facility_id: @room_summary_form.facility_id, room_id: @room_summary_form.room_id), 
              class: "dim ph5 pv3 mv4 button bg-orange white bn box--br3 ttu link pointer" %>
        </div>

        <p class="mv3 subtitle-2 grey">
          Here's a few quick tips to create rows, shelves and trays:
        </p>

        <div class="w-70-l w-80 mt4">
          <% if @room_summary_form.has_sections %>
            <div class="mb4 flex flex-row items-center">
              <%= image_tag 'section-icon.svg', class: "b--light-grey br-100 ba h3 w3 dib" %>

              <div class="ml3 flex flex-column">
                <h3 class="subtitle-2 grey mt0 mb1">Sections</h3>
                <p class="subtitle-2-regular grey ma0">You can split a room to a few sections, with each section can serve more specialized functions</p>
              </div>
            </div>
          <% end %>

          <div class="mb4 flex flex-row items-center">
            <%= image_tag 'row-icon.svg', class: "b--light-grey br-100 ba h3 w3 dib" %>

            <div class="ml3 flex flex-column">
              <h3 class="subtitle-2 grey mt0 mb1">Rows</h3>
              <p class="subtitle-2-regular grey ma0">You can customize your <%= @room_summary_form.purpose %> room by adding the number of rows you have in your <%= @room_summary_form.purpose %> room.</p>
            </div>
          </div>

          <div class="mb4 flex flex-row items-center">
            <%= image_tag 'shelf-icon.svg', class: "b--light-grey br-100 ba h3 w3 dib" %>

            <div class="ml3 flex flex-column">
              <h3 class="subtitle-2 grey mt0 mb1">Shelves</h3>
              <p class="subtitle-2-regular grey ma0">Does each row have multiple levels? You may add the levels by adding shelves.</p>
            </div>
          </div>

          <% if @room_summary_form.purpose == "dry" %>
            <div class="flex flex-row items-center">
              <%= image_tag 'tray-icon.svg', class: "b--light-grey br-100 ba h3 w3 dib" %>

              <div class="ml3 flex flex-column">
                <h3 class="subtitle-2 grey mt0 mb1">Levels</h3>
                <p class="subtitle-2-regular grey ma0">Does  each  dry  rack  have  multiple  levels?  You  may  add  the  levels  by  adding  shelves.</p>
              </div>
            </div>
          <% else %>
            <div class="flex flex-row items-center">
              <%= image_tag 'tray-icon.svg', class: "b--light-grey br-100 ba h3 w3 dib" %>

              <div class="ml3 flex flex-column">
                <h3 class="subtitle-2 grey mt0 mb1">Trays</h3>
                <p class="subtitle-2-regular grey ma0">Does  each  dry  rack  have  multiple  levels?  You  may  add  the  levels  by  adding  shelves.</p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

     <%= render partial: "bottom_back_button", 
        locals: { 
          right_button: false,
          left_button_url:  facility_setup_rooms_info_path(facility_id: @room_summary_form.facility_id) 
        } 
      %>
  </div>
</div>
