<div class="pa4 bg-washed-green debug">
  <div class="flex flex-column justify-between bg-white">
    <div class="ph5 pv3 ba bt-0 bb-1 br-0 bl-0 b--black-10">
      <h2 class="tl pa0 ma0 fw4 dark-gray">Rooms Setup</h2>
    </div>

    <div class="vh-75">
      <div class="pv4 ph5">
        <label>Room Count:</label>
        <%# <%= link_to "Room Count", fetch_rooms_path, remote: true %1> %>
        <%= select_tag :rooms_count,
          options_for_select(["",*1..25], @rooms_info_form.wz_room_count),
          data: {
            remote: true,
            url: fetch_rooms_path(facility_id: @rooms_info_form.facility_id),
            method: :get
          }
        %>
      </div>

      <div class="pv4 ph5">
        <div id="rooms_grid">
          <%= render partial: 'rooms_list', locals: {rooms: @rooms_info_form.rooms} %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "form_buttons" %>
<%= render "slide_panel" %>
