<% content_for :breadcrumb do %>
  <div class="flex flex-row items-center justify-between">
    <div>
      <%= breadcrumbs ["Home",root_path], 
          ["Dashboard", root_path], 
          ["Facility Setup", facility_setup_new_path], 
          ["Room Setup"], 
          "Row Setup" 
      %>
    </div>

    <div class="flex flex-row items-center">
      <i class="material-icons gray f6 mr3 dim">notifications</i>

      <img
        src="http://tachyons.io/img/logo.jpg"
        class="br-100 h2 w2 mr3 dib" alt="avatar">

      <h3 class="ma0 ttc f6 fw5 gray">User Name</h3>

      <i class="material-icons dim f6 gray ml2">keyboard_arrow_down</i>
    </div>
  </div>
<% end %>

<div class="pa4 bg-washed-green">
  <div class="flex flex-column justify-between bg-white">
    <div class="ph5 pv3 ba bt-0 bb-1 br-0 bl-0 b--black-10">
      <h2 class="tl pa0 ma0 fw4 dark-gray">Row and Shelf Setup</h2>
    </div>

    <div class="pv4 ph5 vh-75">
      <div class="fl w-70 flex flex-column">
        <h2 class="f2 tl pa0 ma0 fw4 dark-gray">Row and Shelf Setup</h2>
        <p class="mv3 f5 fw4 dark-gray">
          Boom, you just set up the room! Now let's configure your grow room by adding rows and shelves.
        </p>

        <div class="mt3 flex flex-column">
          <div class="mv4 flex flex-row">
            <div class="w-20">
              <span class="f6 fw6 mid-gray">Row Details</span>
            </div>

            <div class="w-80">
              <label class="f6 fw5 db mb1 gray">How many number of rows in total?</label>

              <div id="rows_grid">
                <%= render partial: 'rows_list',
                  locals: {facility_id: @rows_form.facility_id,
                          room_id: @rows_form.room_id,
                          rows: @rows_form.rows} 
                %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="fl w-30 flex justify-end">
        <%= render "layouts/timeline" %>
      </div>
    </div>

    <%= render "form_buttons" %>
  </div>
</div>

<%= render "slide_panel" %>
