<% content_for :breadcrumb do %>
  <div class="flex items-center">
    <%= breadcrumbs ["Home",root_path], 
        ["Facility Setup", facility_setup_new_path], 
        ["Room Setup", facility_setup_rooms_info_path(facility_id: @rows_form.facility_id)], 
        @rows_form.breadcrumb_title 
    %>
  </div>

  <div class="flex flex-row items-center">
    <i class="material-icons grey mr3 dim">notifications</i>

    <img
      src="http://tachyons.io/img/logo.jpg"
      class="br-100 h2 w2 mr3 dib" alt="avatar">

    <span class="ttc subtitle-2 grey">User Name</span>

    <i class="material-icons dim grey ml2">keyboard_arrow_down</i>
  </div>
<% end %>

<div class="pa4">
  <div class="flex flex-column justify-between bg-white"> 
    <div class="pv4 ph5 min-h-600">
      <div class="fl w-70 flex flex-column">
        <h5 class="tl pa0 ma0 h5--font dark-grey">Section Setup</h5>
        <p class="mt2 body-1 grey">
          You can add more sections simply by clicking on "Add a New Section" button.
        </p>

        <div class="pv4 carousel-wrapper">
          <%= render partial: 'rows_list',
            locals: {
              facility_id: @rows_form.facility_id,
              room_id: @rows_form.room_id
            } 
          %>
        </div>
      </div>

      <div class="fl w-30 flex justify-end">
        <%= render "layouts/timeline" %>
      </div>
    </div>

    <%= render "bottom_back_button" %>
  </div>
</div>

<%= render "slide_panel" %>
<%= render "setup_success_card" %>

<% content_for :before_body_end do %>
  <script>
    document.addEventListener("turbolinks:load", function() {
      bindCarousel();
    })
  </script>
<% end %>
