<div class="vh-100 w-100 dt">
  <div class="dtc v-mid">
    <div class="measure center">
      <h1>Step 4 - Setup Section</h1>
      <div class="flex flex-row">
        <div class="pa2">
          <ul class="list pa2 w4 flex flex-wrap justify-around">
            <% @wizard_form.room_section_count.times { |i| %>
              <li class="hover-bg-black-20 pointer ba b--black-10 h-100 w-100 mb3 h2 tc flex justify-center items-center" >
                <%= link_to @wizard_form.name_of_section(i),
                  facility_setup_save_path(
                    facility_id: @wizard_form.facility_id,
                    room_id: @wizard_form.room_id,
                    section_id: @wizard_form.room_sections[i].id,
                    step: @current_step),
                    class: "link pa2 w-100 db #{'bg-black-30 b--black-80' if @wizard_form.section_id == @wizard_form.room_sections[i].id}"
                %>
              </li>
            <% } %>
          </ul>
        </div>
        <span class="db pa2 mr2 bl b--black-10"></span>
        <div class="db measure w-100">
          <%= form_with(scope: :facility,
                          url: facility_setup_save_path(
                            facility_id: @wizard_form.facility_id,
                            step: @current_step,
                            room_id: @wizard_form.room_id,
                            section_id: @wizard_form.section_id),
                            method: :post,
                            local: true
                       ) do |f| %>
            <% if @wizard_form.errors.any? %>
              <div id="error_explanation" class="red">
                <h3><%= pluralize(@wizard_form.errors.count, "error") %> prohibited this facility from being saved:</h2>
                <ul>
                <% @wizard_form.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="mt3 mb2">
              <%= f.label :section_name, "Section Name", class: "f6 b db mb1" %>
              <%= f.text_field :section_name, class: "ba b--black-20 pa2 mb2 db w-100" %>
            </div>

            <div class="mt3 mb2">
              <%= f.label :section_code, "Section ID", class: "f6 b db mb1" %>
              <%= f.text_field :section_code, class: "ba b--black-20 pa2 mb2 db w-100" %>
            </div>

            <div class="mt3 mb2">
              <%= f.label :section_desc, "Description", class: "f6 b db mb1" %>
              <%= f.text_area :section_desc, class: "ba b--black-20 pa2 mb2 db w-100" %>
            </div>

            <div class="mt3 mb2">
              <label class="f6 db b mb1">Purpose of this section?</label>
              <div class="dib">
                <%= f.radio_button :section_purpose, 'storage', class: "purpose-option", checked: true,
                  data: { toggle: 'purpose_storage_toggle', group: 'purpose_option_group'}
                %>
                <%= f.label :section_purpose_storage, "Storage" %>
              </div>
              <div class="ml2 dib">
                <%= f.radio_button :section_purpose, 'cultivation', class: "purpose-option",
                  data: {toggle: 'purpose_cultivation_toggle', group: 'purpose_option_group'}
                %>
                <%= f.label :section_purpose_cultivation, "Cultivation" %>
              </div>
            </div>

            <div class="mt3 mb2">
              <div class="purpose_option_group purpose_storage_toggle" style="display: block">
                <span class="db">
                  <%= f.check_box :section_storage_types, { multiple: true }, "sales_item", false %>
                  <%= f.label :section_storage_types_sales_item, "Sales Item" %>
                </span>
                <span class="db">
                  <%= f.check_box :section_storage_types, { multiple: true }, "consumable", false %>
                  <%= f.label :section_storage_types_consumable, "Consumable" %>
                </span>
                <span class="db">
                  <%= f.check_box :section_storage_types, { multiple: true }, "mother_or_seed", false %>
                  <%= f.label :section_storage_types_mother_or_seed, "Mother / Seed" %>
                </span>
              </div>
              <div class="purpose_option_group purpose_cultivation_toggle" style="display: none">
                <span class="db">
                  <%= f.check_box :section_cultivation_types, { multiple: true }, "mothering", false %>
                  <%= f.label :section_cultivation_types_mothering, "Mothering" %>
                </span>
                <span class="db">
                  <%= f.check_box :section_cultivation_types, { multiple: true }, "clone", false %>
                  <%= f.label :section_cultivation_types_clone, "Clone" %>
                </span>
                <span class="db">
                  <%= f.check_box :section_cultivation_types, { multiple: true }, "veg_phase_1", false %>
                  <%= f.label :section_cultivation_types_veg_phase_1, "Veg Phase 1" %>
                </span>
                <span class="db">
                  <%= f.check_box :section_cultivation_types, { multiple: true }, "veg_phase_2", false %>
                  <%= f.label :section_cultivation_types_veg_phase_2, "Veg Phase 2" %>
                </span>
                <span class="db">
                  <%= f.check_box :section_cultivation_types, { multiple: true }, "flower", false %>
                  <%= f.label :section_cultivation_types_flower, "Flower" %>
                </span>
              </div>
            </div>

            <div class="mt3 mb2">
              <%= f.label :section_row_count, "No of row", class: "f6 b db mb1" %>
              <%= f.number_field :section_row_count, class: "ba b--black-20 pa2 mb2 db w-100" %>
            </div>

            <div class="mt3 mb2">
              <%= f.label :section_shelf_count, "No of shelves in each row", class: "f6 b db mb1" %>
              <%= f.number_field :section_shelf_count, class: "ba b--black-20 pa2 mb2 db w-100" %>
            </div>

            <div class="mt3 mb2">
              <%= f.label :section_shelf_capacity, "Capacity for each shelf", class: "f6 b db mb1" %>
              <%= f.number_field :section_shelf_capacity, class: "ba b--black-20 pa2 mb2 db w-100" %>
            </div>

            <div class="mt3">
              <%= f.submit "Save & Continue", class: "b ph3 pv2 ba b--black bg-transparent grow pointer f6" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :before_body_end do %>
  <script>
    $$('input[data-toggle]').on('change', function(e) {
      var toggle = e.target.getAttribute('data-toggle')
      var group = e.target.getAttribute('data-group')
      $$("." + group).forEach(function(g) {
        g.style.display = "none"
      });
      $$("." + toggle).forEach(function(g) {
        g.style.display = "block"
      });
    })
  </script>
<% end %>
