<div class="vh-100 w-100 dt">
  <div class="dtc v-mid">
    <div class="measure-wide center">
      <h1>Step 5 - Setup Shelf for Row 1</h1>
      <div class="flex flex-row">
      <div class="pa2">
          <ul class="list pl0 w4">
            <% @wizard_form.section_row_count.times { |i| %>
              <li class="ma2 h2">
                <a href="#0" class="link">Row <%= i + 1 %></a>
              </li>
            <% } %>
          </ul>
        </div>
        <span class="db pa2 mr2 bl b--black-10"></span>
        <div class="db measure w-100">
          <%= form_with(scope: :facility,
                        url: facility_setup_save_path(step: @current_step, facility_id: @wizard_form.facility_id, room_id: @wizard_form.room_id, section_id: @wizard_form.section_id, row_id: @wizard_form.row_id),
                        method: :post,
                        local: true) do |f| %>
            <% if @wizard_form.errors.any? %>
              <div id="error_explanation" class="red">
                <h3><%= pluralize(@wizard_form.errors.count, "error") %> prohibited this facility from being saved:</h2>
                <ul>
                <% @wizard_form.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="mt3 mb2">
              <table class="collapse ba br2 b--black-10 pv2 ph3">
                <tbody>
                  <tr class="striped--light-gray">
                    <th class="pv2 ph3 tl f6 fw6 ttu">Shelf ID</th>
                    <th class="tr f6 ttu fw6 pv2 ph3">Capacity</th>
                    <th class="tr f6 ttu fw6 pv2 ph3">Description</th>
                  </tr>

                  <% @wizard_form.shelves.each do |shelf| %>
                    <tr class="striped--light-gray">
                      <%= f.fields_for :shelves, shelf do |s| %>
                        <%= s.hidden_field :id %>
                        <td class="pv2 ph3">
                          <%= s.text_field :code %>
                        </td>
                        <td class="pv2 ph3 tr"><%= s.text_field :capacity %></td>
                        <td class="pv2 ph3"><%= s.text_field :desc %></td>
                      <% end %>
                    </tr>
                  <% end %>

                </tbody>
              </table>
            </div>

            <div class="mt3">
              <%= f.submit "Save & Continue", class: "b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
