<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <% if defined? include_turbolink %>
    <%= javascript_include_tag 'turbolink-enable', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'animate', media: 'all', 'data-turbolinks-track': 'reload' %>
  <% end %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <% if defined? include_sidebar %>
    <%= javascript_include_tag 'sidebar', 'data-turbolinks-track': 'reload' %>
  <% end %>
  <% if defined? include_carousel %>
    <%= javascript_include_tag 'siema-enable', 'data-turbolinks-track': 'reload' %>
  <% end %>
  <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %1> %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet", media: 'all', 'data-turbolinks-track': 'reload'>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application' %>
  <title>Cannvas</title>
</head>
