<div
  style="min-width: 271px; max-width: 271px; min-height: 443px"
  class="ba b--light-grey box--br3 bg-white relative">

  <h4 class="mh3 mt3 mb0 subtitle-2 dark-grey">Summary for Setup Flow</h4>

  <div style="min-height: 73px" class="bb bt-0 bl-0 br-0 ba b--light-grey pa3">
    <%= image_tag 'facility-icon.svg', 
        class: "br-100 ba dib absolute bg-white b--light-grey img--round-50"
    %>

    <div class="ml4">
      <h4 class="mv0 subtitle-2 grey">Facility</h4>
      <p class="mt1 mb0 caption grey">Set up unlimited facilities, rooms and shelves for proper planning.</p>
    </div>
  </div>

  <div style="min-height: 73px" class="bb bt-0 bl-0 br-0 ba b--light-grey pa3">
    <%= image_tag 'room-icon.svg',
        class: "br-100 ba dib absolute bg-white b--light-grey img--round-50"
    %>

    <div class="ml4">
      <h4 class="mv0 subtitle-2 grey">Rooms</h4>
    </div>
  </div>

  <div style="min-height: 73px" class="bb bt-0 bl-0 br-0 ba b--light-grey pa3">
    <%= image_tag 'row-icon.svg',
        class: "br-100 ba dib absolute bg-white b--light-grey img--round-50"
    %>

    <div class="ml4">
      <h4 class="mv0 subtitle-2 grey">Rows</h4>
    </div>
  </div>

  <div style="min-height: 73px" class="bb bt-0 bl-0 br-0 ba b--light-grey pa3">
    <%= image_tag 'shelf-icon.svg',
        class: "br-100 ba dib absolute bg-white b--light-grey img--round-50"
    %>

    <div class="ml4">
      <h4 class="mv0 subtitle-2 grey">Shelves</h4>
    </div>
  </div>

  <div style="min-height: 73px" class="pa3">
    <%= image_tag 'tray-icon.svg',
        class: "br-100 ba dib absolute bg-white b--light-grey img--round-50"
    %>

    <div class="ml4">
      <h4 class="mv0 subtitle-2 grey">Tables</h4>
    </div>
  </div>
</div>