<!DOCTYPE html>
<html>
  <%= render "layouts/head", include_sidebar: true, include_popper: true %>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <div class="flex flex-row min-vh-100 ">
        <%= render 'layouts/sidebar' %>
        <div id="main" class="main flex flex-column flex-auto" style="padding-left: 75px;">
          <%= flash_messages %>
          <main class="min-vh-100">
            <div 
              style="height: 50px" 
              class="ph4 f6 w-100 bg-white box--shadow-header flex flex-row items-center justify-between"
            >
              <% if content_for? :breadcrumb %>
                <div class="flex items-center">
                  <%= yield :breadcrumb %>
                </div>

                <div class="flex flex-row items-center">
                  <i 
                    onclick="openModal()" id="notification-popup" 
                    class="material-icons grey mr3 dim md-21 pointer">
                    notifications_none
                  </i>

                  <%= render 'layouts/notification' %>

                  <%= image_tag 'blank-avatar.png', class: "br-100 h2 w2 mr3 dib" %>

                  <% if !current_user.first_name %>
                    <span class="grey subtitle-2"> <%= current_user.email %> </span>
                  <% else %>
                    <span class="ttc grey subtitle-2"> 
                      <%= current_user.first_name %> <%= current_user.last_name %>
                    </span>
                  <% end %>

                  <i onclick="toggleDropdown()" class="material-icons dim grey ml2 pointer" id="toggle-dropdown">keyboard_arrow_down</i>
                  
                  <div class="dropdown">
                    <div id="myDropdown" class="dropdown-content box--shadow-header">
                      <%= link_to 'Edit profile', edit_user_registration_path,
                           class: 'ttc grey subtitle-2 pv3 tc dim' %>

                      <%= link_to "Sign out", destroy_user_session_path, method: :delete, 
                          class: 'grey subtitle-2 pv3 tc dim' %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <%= yield %>
          </main>
          <%= render "layouts/right_sidebar" %>
        </div>
      </div>
    </div>
    <%= render "layouts/before_body_end" %>
  </body>
</html>

