<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <div class="flex flex-row min-vh-100">
        <div class="sidebar br b--light-gray">
          <div class="flex justify-start ">
            <%= link_to root_path do %>
              <div class="br3 bg-light-gray dim ba b--mid-gray ma3 mb0" style="width: 50px; height: 50px;">
              </div>
            <% end %>
          </div>
          <% if Facility.completed.count > 0 %>
            <ul class="list pl0">
              <li class="pa3 grow">
                <span class="fw1 f4">Facilities</span>
              </li>
              <li class="pa3 grow">
                <span class="fw1 f4">Inventory</span>
              </li>
              <li class="pa3 grow">
                <span class="fw1 f4">Cultivation</span>
              </li>
              <hr>
              <li class="pa3 grow">
                <span class="fw1 f4">
                  <%= link_to 'Settings', settings_path, class: 'link blue' %>
                </span>
              </li>
            </ul>
          <% end %>
        </div>
        <div class="main flex flex-column flex-auto">
          <header class="bg-gray h3 white flex items-center">
            <div class="w-100 pl4">Header</div> 
            <div class="w-30 pr4 tr ">
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'link fw3 f6 light-gray' %>
            </div>
          </header>
          <main class="min-vh-100">
            <div class="ph4 mt3 f6">breadcrumb</div>
            <div class="">
              <p class="notice"><%= notice %></p>
              <p class="alert"><%= alert %></p>
              <%= yield %>
            </div>
          </main>
        </div>
      </div>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>

