<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <div class="flex flex-row min-vh-100">
        <div class="sidebar">
          <div class="bg-gray ma2 h3 flex justify-center items-center ">
            <span class="dib">LOGO</span>
          </div>
          <ul class="list pl0 ma2">
            <li class="pa2 mb2 bb b--mid-gray">
              <span>Menu 1</span>
            </li>
            <li class="pa2 mb2 bb b--mid-gray">
              <span>Menu 2</span>
            </li>
            <li class="pa2 mb2 bb b--mid-gray">
              <span>Menu 3</span>
            </li>
          </ul>
        </div>
        <div class="main flex flex-column flex-auto">
          <header class="bg-gray h3 white">Header</header>
          <main class="min-vh-100">
            <div class="">breadcrumb</div>
            <div class="">
              <p class="notice"><%= notice %></p>
              <p class="alert"><%= alert %></p>
              <%= yield %>
            </div>
          </main>
        </div>
      </div>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>

