<!DOCTYPE html>
<html>
  <%= render "layouts/head", include_sidebar: true %>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <div class="flex flex-row min-vh-100 ">
        <%= render 'layouts/sidebar' %>
        <div id="main" class="main flex flex-column flex-auto" style="padding-left: 80px;">
          <%= flash_messages %>
          <main class="min-vh-100">
            <div 
              style="height: 50px" 
              class="ph4 f6 w-100 bg-white box--shadow-header flex flex-row items-center justify-between"
            >
              <% if content_for? :breadcrumb %>
                <%= yield :breadcrumb %>
              <% end %>
            </div>
            <%= yield %>
          </main>
          <%= render "layouts/right_sidebar" %>
        </div>
      </div>
    </div>
    <%= render "layouts/before_body_end" %>
  </body>
</html>

