<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <div class="flex flex-row min-vh-100 ">
        <%= render 'layouts/sidebar' %>
        <div id="main" class="main flex flex-column flex-auto" style="padding-left: 80px;">
          <% if notice %>
            <p class="notice"><%= notice %></p>
          <% end %>

          <% if alert %>
            <p class="alert"><%= alert %></p>
          <% end %>

          <!-- <header class="bg-gray h3 white flex items-center">
          <header class="bg-gray h3 white flex items-center">
          </header> -->
          <main class="min-vh-100">
            <div class="ph4 pv4 f6 w-100">
              <% if content_for? :breadcrumb %>
                <%= yield :breadcrumb %>
              <% end %>
            </div>
            <%= yield %>
          </main>
          <% if content_for? :right_sidebar %>
            <%= yield :right_sidebar %>
          <% end %>
        </div>
      </div>
    </div>
    <%= render "layouts/before_body_end" %>
  </body>
</html>

